<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>
When I was young, I used to travel
through the forest of Elwynn...
Compose a poem：
        </string>
		<string>
&quot;The mine kobolds dash, the lake
murlocs rush;&quot;
        </string>
		<string>
&quot;Ah~The Boar Princess with
bodyguards.&quot;
        </string>
		<string>
&quot;Hogger teach you how to be a man&quot;.
        </string>
	</array>
	<array>
		<string>
With my experience as a senior
game player.To tell you guys:
        </string>
		<string>
If you choose a girlfriend for a
game of choice,You will have no
girlfriend...
        </string>
	</array>
	<array>
		<string>
Two Riddles :
        </string>
		<string>
First One：&quot;forever joke&quot;
(It&apos;s a TPS game for put off
again and again)
        </string>
		<string>
Second：&quot;Nothing is true everything
is permitted,No computer can run
smoothly&quot;(It&apos;s a RTS game only
sold in china)
        </string>
	</array>
	<array>
		<string>
Ye Highlands and ye Lowlands,
Oh, where hae ye been?
        </string>
		<string>
They hae slain the Earl o&apos; Moray,
And Lady Mondegreen. :)
        </string>
	</array>
	<array>
		<string>
“Dungeon laughter” will be non iOS
exclusive,If the developer don&apos;t
transplant other platforms,I&apos;ll
cut my head.
        </string>
		<string>
If &quot;Dungeon Laughter&quot; sold
1 million,I will handstand.
        </string>
	</array>
	<array>
		<string>
Some games will have the
passphrase，You can try this:
        </string>
		<string>
“All your base are belong to us！”
OR &quot;Show me the money!&quot;
        </string>
	</array>
	<array>
		<string>
Once upon a time, there was a
gameprogrammer,He has spent 12
years in the gaming industry.
        </string>
		<string>
In the occasion of downhearted,
Accidentally got a magic lamp,
Then he make a wish:
        </string>
		<string>
&quot;Hope in the lifetime to
Develop a AAA grade products!&quot;
Later ~ ~ ~
        </string>
		<string>
Then he has eternal life.Oh right,
this is a Chinese programmer.
        </string>
	</array>
	<array>
		<string>
A game designer goes to Electronic
Arts for an interview.
        </string>
		<string>
The interviewer asked him
why your resume is only one page.
        </string>
		<string>
He said the second page is DLC,
need for paid. Then he was hired.
        </string>
	</array>
	<array>
		<string>
&quot;Tetris&quot; tells us:
Mistakes will be accumulated,
The success will disappear.
        </string>
		<string>
&quot;Super Mario&quot; tells us:
Success is not to see how high you
jump,And to see how far you run.
        </string>
		<string>
&quot;Contra&quot; tell us:
To stop you from moving forward
is not the enemy in front,
But the bullet behind you!
        </string>
		<string>
&quot;Snake&quot; tells us:
Beat your not the bullet with icing,
But you body become longer and
longerOneself is the most powerful
enemy
        </string>
		<string>
&quot;Lightning&quot; tell us:
People always think you&apos;re
firing to the plane,
In fact, they are avoiding bullets.
        </string>
		<string>
&quot;Battle City&quot; tells us:
Don&apos;t just think about the fire,
And take care of your bird.
        </string>
	</array>
	<array>
		<string>
Do you like big breasts?
I thought you must like Laura.
        </string>
		<string>
It is said that Lara Crawford&apos;s
breastsdisproportionately large,
because the designer mouse
accidentally pulled over...
        </string>
	</array>
</array>
</plist>
