# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files

# Compiled Static libraries


# Executables
*.exe
*.out
*.app

# ignore folders
3.4/DDDice/cocos2d
3.4/TinyFlare/proj.android/obj
3.4/TinyFlare/proj.android/bin
