
.DS_Store
# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files

# Compiled Static libraries


# Executables
*.exe
*.out
*.app

# ignore folders
3.4/DDDice/cocos2d
3.4/TinyFlare/proj.android/obj
3.4/TinyFlare/proj.android/bin
3.4/TinyFlare/proj.android/gen
3.4/TinyFlare/cocos2d/cocos/platform/android/java/obj
3.4/TinyFlare/cocos2d/cocos/platform/android/java/gen
3.4/TinyFlare/cocos2d/cocos/platform/android/java/bin
3.6/MazeJump/bin/
3.6/MazeJump/proj.android/bin
3.6/MazeJump/proj.android/gen
3.6/MazeJump/proj.android/obj
3.6/MazeJump/cocos2d/cocos/platform/android/java/obj
3.6/MazeJump/cocos2d/cocos/platform/android/java/gen
3.6/MazeJump/cocos2d/cocos/platform/android/java/bin

3.8.1/Voxel_Explorer/bin
3.8.1/Voxel_Explorer/channel/proj.android_360/bin
3.8.1/Voxel_Explorer/channel/proj.android_360/gen
3.8.1/Voxel_Explorer/channel/proj.android_360/obj
3.8.1/Voxel_Explorer/channel/proj.android_youmi/bin
3.8.1/Voxel_Explorer/channel/proj.android_youmi/gen
3.8.1/Voxel_Explorer/channel/proj.android_youmi/obj
3.8.1/Voxel_Explorer/proj.android/bin
3.8.1/Voxel_Explorer/proj.android/gen
3.8.1/Voxel_Explorer/proj.android/obj
3.8.1/Voxel_Explorer/proj.android_360/bin
3.8.1/Voxel_Explorer/proj.android_360/gen
3.8.1/Voxel_Explorer/proj.android_360/obj
3.8.1/Voxel_Explorer/libs/google-play-services_lib/bin
3.8.1/Voxel_Explorer/libs/google-play-services_lib/gen
3.8.1/Voxel_Explorer/libs/libWanax/bin
3.8.1/Voxel_Explorer/libs/libWanax/gen
3.8.1/Voxel_Explorer/libs/libWanax_360/bin
3.8.1/Voxel_Explorer/libs/libWanax_360/gen
3.8.1/Voxel_Explorer/cocos2d/cocos/platform/android/java/obj
3.8.1/Voxel_Explorer/cocos2d/cocos/platform/android/java/gen
3.8.1/Voxel_Explorer/cocos2d/cocos/platform/android/java/bin

libs/google-play-services_lib/bin/
libs/google-play-services_lib/gen/