<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GAME_NAME</key>
	<string>彩虹尽头</string>
	<key>PRESS_BEGIN</key>
	<string>点击这里开始！</string>
	<key>PRESS_CONTINUE</key>
	<string>点击这里继续!</string>
	<key>NO_ADS</key>
	<string>删除广告</string>
	<key>NO_ADS_DESC</key>
	<string>删除所有广告，不再有广告出现!</string>
	<key>RATE_TITLE</key>
	<string>评价彩虹尽头</string>
	<key>RATE_MESSAGE</key>
	<string>谢谢您的支持!</string>
	<key>RATE_NOW</key>
	<string>赞一个,支持一下!</string>
	<key>RATE_NEVER</key>
	<string>很烂,拒绝评价！</string>
	<key>RATE_LATER</key>
	<string>再玩一下,稍后再说!</string>
	<key>NET_ERROR</key>
	<string>连接超时，请检查网络！</string>
	<key>RESTORE_OK</key>
	<string>恢复购买成功！</string>
	<key>RESTORE_FAILED</key>
	<string>恢复购买失败！</string>
	<key>FONT_NUMBER</key>
	<string>comic_sans_ms.fnt</string>
	<key>UI_TITLE_TEX</key>
	<string>ui_title1.png</string>
	<key>UI_MENU_RAINBOW_BTN</key>
	<string>btn_rainbow_mode_cn.png</string>
	<key>UI_MENU_MAZE_BTN</key>
	<string>btn_maze_mode_cn.png</string>
	<key>UI_START_BTN_NEW</key>
	<string>btn_start_new_cn.png</string>
	<key>UI_START_BTN_CONTINUE</key>
	<string>btn_start_continue_cn.png</string>
	<key>UI_START_PANEL</key>
	<string>panel_startgame_cn.png</string>
	<key>UI_PASUE_PANEL</key>
	<string>panel_pause_cn.png</string>
	<key>UI_SHOP_PANEL</key>
	<string>panel_shop_cn.png</string>
	<key>UI_GAME_BEST_TV</key>
	<string>best_cn.png</string>
	<key>UI_GAME_CURRENT_TV</key>
	<string>current_cn.png</string>
	<key>UI_GAME_HANDLE_TIPS</key>
	<string>jumptip_runner_cn.png</string>
	<key>UI_GAME_MODE_TIPS</key>
	<string>rainbowmodetip_cn.png</string>
	<key>UI_GAME_PAUSE_TIPS</key>
	<string>pausetip_cn.png</string>
	<key>UI_DEATH_PANEL</key>
	<string>panel_gameover_cn.png</string>
	<key>UI_DEATH_BTN_REVICE</key>
	<string>btn_revive_cn.png</string>
	<key>UI_ROLE_BTN_LOCK_NORMAL</key>
	<string>btn_unlock_normal_cn.png</string>
	<key>UI_ROLE_BTN_LOCK_PRESSED</key>
	<string>btn_unlock_pressed_cn.png</string>
	<key>UI_GROUND_BTN_FAILED_BACK</key>
	<string>btn_challenge_failed_back_cn.png</string>
	<key>UI_GROUND_BTN_SUC_BACK</key>
	<string>btn_challenge_success_back_cn.png</string>
	<key>UI_GROUND_BTN_FAILED_HELP</key>
	<string>btn_challenge_failed_help_cn.png</string>
	<key>UI_GROUND_AWARD_TV</key>
	<string>challengeaward_cn.png</string>
	<key>UI_GROUND_FAILED_PANEL</key>
	<string>panel_challenge_failed_cn.png</string>
	<key>UI_GROUND_FAILED_RESTART_BTN</key>
	<string>btn_challenge_restart_cn.png</string>
	<key>UI_GROUND_HELP_PANEL</key>
	<string>panel_challenge_helpok_cn.png</string>
	<key>UI_GROUND_SUC_PANEL</key>
	<string>panel_challenge_success_cn.png</string>
	<key>UI_GROUND_SUC_NEXT_BTN</key>
	<string>btn_challenge_next_cn.png</string>
	<key>UI_GROUND_HANDLE_TIPS</key>
	<string>jumptip_mazejump_cn.png</string>
	<key>UI_GROUND_RULE_TIPS</key>
	<string>rulestip_cn.png</string>
	<key>UI_GROUND_GIVEUP_PANEL</key>
	<string>panel_challengegiveup_cn.png</string>
	<key>UI_GROUND_BTN_GIVEUP_OK</key>
	<string>btn_giveup_ok_cn.png</string>
	<key>UI_GROUND_BTN_GIVEUP_CANCEL</key>
	<string>btn_giveup_cancel_cn.png</string>
	<key>UI_GAMEINFO_TIPS</key>
	<string>gameinfotip_cn.png</string>
	<key>UI_HELP_TIPS</key>
	<string>helptip_cn.png</string>
</dict>
</plist>
