<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_zombie_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{30,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_zombie_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{28,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{28,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_zombie_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{30,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_zombie_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{32,36}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{32,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_zombie_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_zombie_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{28,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{28,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_zombie_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,40},{28,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{28,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>basic_zombie.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:975a0968df739d89db366b5721aa4ee1$</string>
            <key>textureFileName</key>
            <string>basic_zombie.png</string>
        </dict>
    </dict>
</plist>
