<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shooter_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,50},{60,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>shooter_shoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{60,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>shooter_shoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{66,46}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{66,46}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>shooter_shoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{74,46}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{74,46}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>shooter_shoot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,46}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{78,46}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>shooter_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{60,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>shooter_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{60,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>shooter_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,50},{62,44}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{62,44}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>shooter_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{60,46}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>shooter_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,96},{58,46}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{58,46}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>shooter_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,50},{58,44}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{58,44}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shooter.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4c19a21d397bf255df5a5c07932527c$</string>
            <key>textureFileName</key>
            <string>shooter.png</string>
        </dict>
    </dict>
</plist>
