<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adjudicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,298},{144,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,143}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>allip.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,611},{109,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,141}}</string>
                <key>sourceSize</key>
                <string>{109,141}</string>
            </dict>
            <key>ankheg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{159,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,114}}</string>
                <key>sourceSize</key>
                <string>{159,114}</string>
            </dict>
            <key>apologist.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,335},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{86,152}}</string>
                <key>sourceSize</key>
                <string>{104,152}</string>
            </dict>
            <key>archbishop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{142,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,163}}</string>
                <key>sourceSize</key>
                <string>{142,163}</string>
            </dict>
            <key>bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,818},{149,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,87}}</string>
                <key>sourceSize</key>
                <string>{149,87}</string>
            </dict>
            <key>bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,105},{131,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>believer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{95,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{95,155}}</string>
                <key>sourceSize</key>
                <string>{105,155}</string>
            </dict>
            <key>chr_child.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,282},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>chr_gumi.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,892},{117,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,129}}</string>
                <key>sourceSize</key>
                <string>{117,129}</string>
            </dict>
            <key>chr_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,464},{90,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{90,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>chr_knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,150},{146,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,117}}</string>
                <key>sourceSize</key>
                <string>{146,117}</string>
            </dict>
            <key>chr_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,752},{109,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,138}}</string>
                <key>sourceSize</key>
                <string>{109,138}</string>
            </dict>
            <key>chr_nurse.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,163},{120,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>chr_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,637},{103,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,146}}</string>
                <key>sourceSize</key>
                <string>{103,148}</string>
            </dict>
            <key>chr_rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,335},{127,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,150}}</string>
                <key>sourceSize</key>
                <string>{127,150}</string>
            </dict>
            <key>chr_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{102,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,164}}</string>
                <key>sourceSize</key>
                <string>{102,166}</string>
            </dict>
            <key>copperchest.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{134,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,106}}</string>
                <key>sourceSize</key>
                <string>{134,106}</string>
            </dict>
            <key>deathminer.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,153},{98,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,147}}</string>
                <key>sourceSize</key>
                <string>{98,147}</string>
            </dict>
            <key>dinosaur.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{122,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,159}}</string>
                <key>sourceSize</key>
                <string>{122,159}</string>
            </dict>
            <key>gargoyle.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,806},{146,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,105}}</string>
                <key>sourceSize</key>
                <string>{146,105}</string>
            </dict>
            <key>gatekeeper.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,785},{141,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,118}}</string>
                <key>sourceSize</key>
                <string>{141,118}</string>
            </dict>
            <key>ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{149,117}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,117}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>ghoul.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,487},{148,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,115}}</string>
                <key>sourceSize</key>
                <string>{148,115}</string>
            </dict>
            <key>giant.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,150},{141,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,144}}</string>
                <key>sourceSize</key>
                <string>{141,144}</string>
            </dict>
            <key>gnoll.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{142,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,127}}</string>
                <key>sourceSize</key>
                <string>{142,127}</string>
            </dict>
            <key>goblin.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,754},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>goldchest.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,444},{138,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,109}}</string>
                <key>sourceSize</key>
                <string>{138,109}</string>
            </dict>
            <key>kobold.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,464},{136,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{136,145}</string>
            </dict>
            <key>koboldleader.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,656},{145,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,148}}</string>
                <key>sourceSize</key>
                <string>{145,148}</string>
            </dict>
            <key>mob.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{101,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,133}}</string>
                <key>sourceSize</key>
                <string>{101,133}</string>
            </dict>
            <key>ooze.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,896},{125,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,128}}</string>
                <key>sourceSize</key>
                <string>{125,128}</string>
            </dict>
            <key>priest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{86,158}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,158}}</string>
                <key>sourceSize</key>
                <string>{100,162}</string>
            </dict>
            <key>prisoner.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,611},{106,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,139}}</string>
                <key>sourceSize</key>
                <string>{106,139}</string>
            </dict>
            <key>prisonguard.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,146},{107,134}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,134}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>rat.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,230},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{100,86}}</string>
                <key>sourceSize</key>
                <string>{112,98}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{146,115}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{146,115}}</string>
                <key>sourceSize</key>
                <string>{158,123}</string>
            </dict>
            <key>silverchest.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,296},{137,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,108}}</string>
                <key>sourceSize</key>
                <string>{137,108}</string>
            </dict>
            <key>skeleton.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,663},{126,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>skeletonking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,167}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>slime.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{146,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,124}}</string>
                <key>sourceSize</key>
                <string>{146,124}</string>
            </dict>
            <key>slimeking.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,171},{162,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,928},{133,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{133,92}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>spider.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,584},{127,95}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{127,95}}</string>
                <key>sourceSize</key>
                <string>{127,101}</string>
            </dict>
            <key>torture.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,315},{147,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,121}}</string>
                <key>sourceSize</key>
                <string>{147,121}</string>
            </dict>
            <key>warden.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,502},{140,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{140,152}</string>
            </dict>
            <key>wolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,435},{124,105}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{124,105}}</string>
                <key>sourceSize</key>
                <string>{130,111}</string>
            </dict>
            <key>zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,818},{102,149}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,149}}</string>
                <key>sourceSize</key>
                <string>{108,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_characters.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d127a30baddf94424ad8c04e441e16c:1/1$</string>
            <key>textureFileName</key>
            <string>ui_characters.png</string>
        </dict>
    </dict>
</plist>
