<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>best_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,590},{159,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,38}}</string>
                <key>sourceSize</key>
                <string>{159,38}</string>
            </dict>
            <key>best_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,590},{89,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>btn_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,881},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>btn_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,784},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>btn_buyHeart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,687},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>btn_buyHeart_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,590},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>btn_character_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,884},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_character_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,786},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,688},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold1_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,590},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,884},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold2_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,786},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,688},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold3_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,590},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold4_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,884},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold4_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,786},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold5_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,688},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold5_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,590},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,918},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_gold_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,820},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_heart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,722},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_heart_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,624},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,670},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>btn_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,590},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>btn_pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,906},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>btn_pause_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,906},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>btn_plus_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,826},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>btn_plus_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,826},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>btn_removeads_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,881},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>btn_removeads_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,784},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>btn_restore_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,728},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_restore_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,630},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>btn_scrollback_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,687},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>btn_scrollback_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,590},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>btn_shop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,828},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>btn_shop_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,750},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>btn_unlock_normal_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,630},{240,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,95}}</string>
                <key>sourceSize</key>
                <string>{240,95}</string>
            </dict>
            <key>btn_unlock_normal_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,643},{240,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,95}}</string>
                <key>sourceSize</key>
                <string>{240,95}</string>
            </dict>
            <key>btn_unlock_pressed_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,644},{240,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,95}}</string>
                <key>sourceSize</key>
                <string>{240,95}</string>
            </dict>
            <key>btn_unlock_pressed_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{240,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,95}}</string>
                <key>sourceSize</key>
                <string>{240,95}</string>
            </dict>
            <key>character_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>current_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,977},{155,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,37}}</string>
                <key>sourceSize</key>
                <string>{155,37}</string>
            </dict>
            <key>current_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,872},{146,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,36}}</string>
                <key>sourceSize</key>
                <string>{146,36}</string>
            </dict>
            <key>helptip_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,872},{103,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,154}}</string>
                <key>sourceSize</key>
                <string>{103,154}</string>
            </dict>
            <key>helptip_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,886},{108,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,157}}</string>
                <key>sourceSize</key>
                <string>{108,157}</string>
            </dict>
            <key>panel_characterlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,191}}</string>
                <key>sourceSize</key>
                <string>{640,191}</string>
            </dict>
            <key>panel_shop_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{456,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,586}}</string>
                <key>sourceSize</key>
                <string>{456,586}</string>
            </dict>
            <key>panel_shop_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{456,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,586}}</string>
                <key>sourceSize</key>
                <string>{456,586}</string>
            </dict>
            <key>ui_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,590},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>ui_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,590},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>ui_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,996},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_ui.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0726a144f29fdd4c5caf1b4af5f25aed:1/1$</string>
            <key>textureFileName</key>
            <string>common_ui.png</string>
        </dict>
    </dict>
</plist>
