<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_challenge_failed_back_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,918},{220,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>btn_challenge_failed_back_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1013},{220,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>btn_challenge_failed_help_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,575},{220,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,77}}</string>
                <key>sourceSize</key>
                <string>{220,77}</string>
            </dict>
            <key>btn_challenge_failed_help_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,353},{220,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,77}}</string>
                <key>sourceSize</key>
                <string>{220,77}</string>
            </dict>
            <key>btn_challenge_success_back_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,791},{220,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>btn_challenge_success_back_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,797},{220,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>challenge_award_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,2},{195,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,48}}</string>
                <key>sourceSize</key>
                <string>{195,48}</string>
            </dict>
            <key>challenge_award_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,199},{337,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,41}}</string>
                <key>sourceSize</key>
                <string>{337,41}</string>
            </dict>
            <key>challengeaward_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{245,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,227}}</string>
                <key>sourceSize</key>
                <string>{245,227}</string>
            </dict>
            <key>challengeaward_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,918},{337,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,223}}</string>
                <key>sourceSize</key>
                <string>{337,223}</string>
            </dict>
            <key>jumptip_mazejump_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,791},{453,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,342}}</string>
                <key>sourceSize</key>
                <string>{453,342}</string>
            </dict>
            <key>jumptip_mazejump_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{597,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,349}}</string>
                <key>sourceSize</key>
                <string>{597,349}</string>
            </dict>
            <key>panel_challenge_failed_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,538},{456,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,491}}</string>
                <key>sourceSize</key>
                <string>{456,491}</string>
            </dict>
            <key>panel_challenge_failed_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,460},{456,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,491}}</string>
                <key>sourceSize</key>
                <string>{456,491}</string>
            </dict>
            <key>panel_challenge_helpok_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{456,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,331}}</string>
                <key>sourceSize</key>
                <string>{456,331}</string>
            </dict>
            <key>panel_challenge_helpok_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{456,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,331}}</string>
                <key>sourceSize</key>
                <string>{456,331}</string>
            </dict>
            <key>panel_challenge_success_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,333},{456,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,491}}</string>
                <key>sourceSize</key>
                <string>{456,491}</string>
            </dict>
            <key>panel_challenge_success_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{456,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,491}}</string>
                <key>sourceSize</key>
                <string>{456,491}</string>
            </dict>
            <key>rulestip_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{544,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,329}}</string>
                <key>sourceSize</key>
                <string>{544,329}</string>
            </dict>
            <key>rulestip_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{485,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,354}}</string>
                <key>sourceSize</key>
                <string>{485,354}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ground_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:466abc05823ada7576b4dcb44b81997f:1/1$</string>
            <key>textureFileName</key>
            <string>ground_ui.png</string>
        </dict>
    </dict>
</plist>
