<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_maze_mode_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,537},{244,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,75}}</string>
                <key>sourceSize</key>
                <string>{244,75}</string>
            </dict>
            <key>btn_maze_mode_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,460},{244,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,75}}</string>
                <key>sourceSize</key>
                <string>{244,75}</string>
            </dict>
            <key>btn_rainbow_mode_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,706},{244,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,75}}</string>
                <key>sourceSize</key>
                <string>{244,75}</string>
            </dict>
            <key>btn_rainbow_mode_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,460},{244,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,75}}</string>
                <key>sourceSize</key>
                <string>{244,75}</string>
            </dict>
            <key>btn_rank_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,788},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>btn_rank_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,783},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>btn_rate_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,783},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>btn_rate_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,783},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>btn_sounds_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,460},{80,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>btn_sounds_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,664},{74,69}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>btn_start_continue_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,664},{122,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,48}}</string>
                <key>sourceSize</key>
                <string>{122,48}</string>
            </dict>
            <key>btn_start_continue_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,542},{122,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,48}}</string>
                <key>sourceSize</key>
                <string>{122,48}</string>
            </dict>
            <key>btn_start_new_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,614},{122,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,48}}</string>
                <key>sourceSize</key>
                <string>{122,48}</string>
            </dict>
            <key>btn_start_new_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,614},{122,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,48}}</string>
                <key>sourceSize</key>
                <string>{122,48}</string>
            </dict>
            <key>panel_startgame_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{456,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,491}}</string>
                <key>sourceSize</key>
                <string>{456,491}</string>
            </dict>
            <key>panel_startgame_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,491}}</string>
                <key>sourceSize</key>
                <string>{456,491}</string>
            </dict>
            <key>ui_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{568,188}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,75},{568,188}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>ui_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{568,148}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,93},{568,148}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e10ed3e4da039099756880a942a65ef:1/1$</string>
            <key>textureFileName</key>
            <string>main_ui.png</string>
        </dict>
    </dict>
</plist>
