<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GAME_NAME</key>
	<string>Barrage Space</string>
	<key>PRESS_BEGIN</key>
	<string>点击这里开始！</string>
	<key>PRESS_CONTINUE</key>
	<string>点击这里继续!</string>
	<key>NO_ADS</key>
	<string>删除广告</string>
	<key>NO_ADS_DESC</key>
	<string>删除所有广告，不再有广告出现!</string>
	<key>RATE_TITLE</key>
	<string>评价几何太空战</string>
	<key>RATE_MESSAGE</key>
	<string>谢谢您的支持!</string>
	<key>RATE_NOW</key>
	<string>赞一个,支持一下!</string>
	<key>RATE_NEVER</key>
	<string>很烂,拒绝评价！</string>
	<key>RATE_LATER</key>
	<string>再玩一下,稍后再说!</string>
	<key>NET_ERROR</key>
	<string>连接超时，请检查网络！</string>
	<key>RESTORE_OK</key>
	<string>恢复购买成功！</string>
	<key>RESTORE_FAILED</key>
	<string>恢复购买失败！</string>
	<key>START_GAME</key>
	<string>开始游戏</string>
	<key>RESTART_GAME</key>
	<string>重新开始</string>
	<key>RESUME_GAME</key>
	<string>继续游戏</string>
	<key>FONT_NUMBER</key>
	<string>DFWaWaW5-GB.fnt</string>
	<key>UI_TITLE_TEX</key>
	<string>ui_title1.png</string>
	<key>UI_START_BTN_NEW</key>
	<string>btn_start_new_cn.png</string>
	<key>UI_START_BTN_CONTINUE</key>
	<string>btn_start_continue_cn.png</string>
	<key>UI_START_PANEL</key>
	<string>panel_startgame_cn.png</string>
	<key>UI_PASUE_PANEL</key>
	<string>panel_pause_cn.png</string>
	<key>UI_SHOP_PANEL</key>
	<string>panel_shop_cn.png</string>
	<key>UI_GAME_BEST_TV</key>
	<string>best_cn.png</string>
	<key>UI_GAME_CURRENT_TV</key>
	<string>current_cn.png</string>
	<key>UI_DEATH_PANEL</key>
	<string>panel_gameover_cn.png</string>
	<key>UI_DEATH_BTN_REVICE</key>
	<string>btn_revive_cn.png</string>
	<key>UI_ROLE_BTN_LOCK_NORMAL</key>
	<string>btn_unlock_normal_cn.png</string>
	<key>UI_ROLE_BTN_LOCK_PRESSED</key>
	<string>btn_unlock_pressed_cn.png</string>
</dict>
</plist>
