<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LevelName</key>
		<string>5x5-9.tmx</string>
		<key>SkyTex</key>
		<string>sky1</string>
		<key>PlatformModel</key>
		<string>platform1</string>
	</dict>
	<dict>
		<key>LevelName</key>
		<string>5x5-2.tmx</string>
		<key>SkyTex</key>
		<string>sky2</string>
		<key>PlatformModel</key>
		<string>platform2</string>
	</dict>
	<dict>
		<key>LevelName</key>
		<string>5x5-3.tmx</string>
		<key>SkyTex</key>
		<string>sky3</string>
		<key>PlatformModel</key>
		<string>platform1</string>
	</dict>
	<dict>
		<key>LevelName</key>
		<string>5x5-4.tmx</string>
		<key>SkyTex</key>
		<string>sky2</string>
		<key>PlatformModel</key>
		<string>platform1</string>
	</dict>
	<dict>
		<key>LevelName</key>
		<string>5x5-5.tmx</string>
		<key>SkyTex</key>
		<string>sky2</string>
		<key>PlatformModel</key>
		<string>platform1</string>
	</dict>
	<dict>
		<key>LevelName</key>
		<string>5x5-6.tmx</string>
		<key>SkyTex</key>
		<string>sky2</string>
		<key>PlatformModel</key>
		<string>platform1</string>
	</dict>
</array>
</plist>
