<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PatternType</key>
		<integer>0</integer>
		<key>FadeInType</key>
		<integer>0</integer>
		<key>TerrainCells</key>
		<array>
			<dict>
				<key>ModelName</key>
				<string>startpoint.obj</string>
				<key>CellType</key>
				<real>0</real>
				<key>PosX</key>
				<integer>0</integer>
				<key>PosY</key>
				<integer>1</integer>
				<key>PosZ</key>
				<integer>0</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PatternType</key>
		<integer>1</integer>
		<key>FadeInType</key>
		<integer>1</integer>
		<key>TerrainCells</key>
		<array>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>-24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>-24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>-24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>0</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>-24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>-24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>0</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>0</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>-8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>0</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>0</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>8</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>0</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>1x1.obj</string>
				<key>CellType</key>
				<integer>2</integer>
				<key>PosX</key>
				<integer>16</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>0</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>180</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>180</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>0</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>180</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-8</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>180</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>ModelName</key>
				<string>sidebar.obj</string>
				<key>CellType</key>
				<integer>1</integer>
				<key>PosX</key>
				<integer>24</integer>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosZ</key>
				<integer>-16</integer>
				<key>RotX</key>
				<integer>0</integer>
				<key>RotY</key>
				<integer>180</integer>
				<key>RotZ</key>
				<integer>0</integer>
				<key>ScaleX</key>
				<integer>1</integer>
				<key>ScaleY</key>
				<integer>1</integer>
				<key>ScaleZ</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
