<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adjudicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,616},{144,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,143}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>allip.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,150},{109,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,141}}</string>
                <key>sourceSize</key>
                <string>{109,141}</string>
            </dict>
            <key>ankheg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{159,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,114}}</string>
                <key>sourceSize</key>
                <string>{159,114}</string>
            </dict>
            <key>apologist.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,328},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{86,152}}</string>
                <key>sourceSize</key>
                <string>{104,152}</string>
            </dict>
            <key>archbishop.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{142,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,163}}</string>
                <key>sourceSize</key>
                <string>{142,163}</string>
            </dict>
            <key>bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,825},{149,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,87}}</string>
                <key>sourceSize</key>
                <string>{149,87}</string>
            </dict>
            <key>bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,717},{131,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>believer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{95,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{95,155}}</string>
                <key>sourceSize</key>
                <string>{105,155}</string>
            </dict>
            <key>chr_child.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,850},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>chr_gumi.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,567},{117,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,129}}</string>
                <key>sourceSize</key>
                <string>{117,129}</string>
            </dict>
            <key>chr_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,150},{90,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{90,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>chr_knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{146,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,117}}</string>
                <key>sourceSize</key>
                <string>{146,117}</string>
            </dict>
            <key>chr_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,593},{109,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,138}}</string>
                <key>sourceSize</key>
                <string>{109,138}</string>
            </dict>
            <key>chr_nurse.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,167},{120,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>chr_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,301},{103,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,146}}</string>
                <key>sourceSize</key>
                <string>{103,148}</string>
            </dict>
            <key>chr_rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,328},{127,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,150}}</string>
                <key>sourceSize</key>
                <string>{127,150}</string>
            </dict>
            <key>chr_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,172}}</string>
                <key>sourceSize</key>
                <string>{116,172}</string>
            </dict>
            <key>copperchest.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,581},{134,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,106}}</string>
                <key>sourceSize</key>
                <string>{134,106}</string>
            </dict>
            <key>deathminer.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,319},{98,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,147}}</string>
                <key>sourceSize</key>
                <string>{98,147}</string>
            </dict>
            <key>dinosaur.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,167},{122,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,159}}</string>
                <key>sourceSize</key>
                <string>{122,159}</string>
            </dict>
            <key>gargoyle.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,468},{146,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,105}}</string>
                <key>sourceSize</key>
                <string>{146,105}</string>
            </dict>
            <key>gatekeeper.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,298},{141,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,118}}</string>
                <key>sourceSize</key>
                <string>{141,118}</string>
            </dict>
            <key>ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{149,117}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,117}}</string>
                <key>sourceSize</key>
                <string>{149,123}</string>
            </dict>
            <key>ghoul.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,663},{148,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,115}}</string>
                <key>sourceSize</key>
                <string>{148,115}</string>
            </dict>
            <key>giant.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,762},{141,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,144}}</string>
                <key>sourceSize</key>
                <string>{141,144}</string>
            </dict>
            <key>gnoll.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,449},{142,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,127}}</string>
                <key>sourceSize</key>
                <string>{142,127}</string>
            </dict>
            <key>goblin.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,908},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>goldchest.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,441},{138,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,109}}</string>
                <key>sourceSize</key>
                <string>{138,109}</string>
            </dict>
            <key>kobold.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,777},{136,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{136,145}</string>
            </dict>
            <key>koboldleader.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,825},{145,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,148}}</string>
                <key>sourceSize</key>
                <string>{145,148}</string>
            </dict>
            <key>mob.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,432},{101,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,133}}</string>
                <key>sourceSize</key>
                <string>{101,133}</string>
            </dict>
            <key>ooze.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{125,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,128}}</string>
                <key>sourceSize</key>
                <string>{125,128}</string>
            </dict>
            <key>priest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{86,158}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,158}}</string>
                <key>sourceSize</key>
                <string>{100,162}</string>
            </dict>
            <key>prisoner.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{106,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,139}}</string>
                <key>sourceSize</key>
                <string>{106,139}</string>
            </dict>
            <key>prisonguard.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,733},{107,134}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,134}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>rat.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{100,86}}</string>
                <key>sourceSize</key>
                <string>{112,98}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,629},{146,115}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{146,115}}</string>
                <key>sourceSize</key>
                <string>{158,123}</string>
            </dict>
            <key>silverchest.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,293},{137,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,108}}</string>
                <key>sourceSize</key>
                <string>{137,108}</string>
            </dict>
            <key>skeleton.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,670},{126,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>skeletonking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{135,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,167}}</string>
                <key>sourceSize</key>
                <string>{135,167}</string>
            </dict>
            <key>slime.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,153},{146,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,124}}</string>
                <key>sourceSize</key>
                <string>{146,124}</string>
            </dict>
            <key>slimeking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{162,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,924},{133,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{133,92}}</string>
                <key>sourceSize</key>
                <string>{133,106}</string>
            </dict>
            <key>spider.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,924},{127,95}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{127,95}}</string>
                <key>sourceSize</key>
                <string>{127,101}</string>
            </dict>
            <key>torture.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,480},{147,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,121}}</string>
                <key>sourceSize</key>
                <string>{147,121}</string>
            </dict>
            <key>warden.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,509},{140,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{140,152}</string>
            </dict>
            <key>wolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,129},{124,105}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{124,105}}</string>
                <key>sourceSize</key>
                <string>{130,111}</string>
            </dict>
            <key>zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{102,149}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,149}}</string>
                <key>sourceSize</key>
                <string>{108,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_characters.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a6d8bceb51f25538cd92c8ab6f86dd:1/1$</string>
            <key>textureFileName</key>
            <string>ui_characters.png</string>
        </dict>
    </dict>
</plist>
