<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{80,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{80,110}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,264},{104,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{104,100}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>bound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,210},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,210},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,80},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,446},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>multi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{112,112}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>playermain.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,366},{92,78}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{92,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>playermask.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,148},{70,82}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{70,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>playermask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{62,76}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{62,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>protected.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,378},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{104,104}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,446},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{114,114}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,146},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSprite.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c023c792bacc6ab49c920c7fe69591b:1/1$</string>
            <key>textureFileName</key>
            <string>GameSprite.png</string>
        </dict>
    </dict>
</plist>
