<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADT_KILL_FIRST</key>
	<string>第一滴血</string>
	<key>ADT_KILL_FIRST_TARGET</key>
	<string>杀死一个敌人</string>
	<key>ADT_STEP_HUNDRED</key>
	<string>健步如飞</string>
	<key>ADT_STEP_HUNDRED_TARGET</key>
	<string>行走一百步</string>
</dict>
</plist>
