<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADT_MONSTER_1</key>
	<string>第一滴血</string>
	<key>ADT_MONSTER_1_TARGET</key>
	<string>杀死第1个怪物</string>
	<key>ADT_MONSTER_2</key>
	<string>牛刀小试 </string>
	<key>ADT_MONSTER_2_TARGET</key>
	<string>杀死30个怪物</string>
	<key>ADT_MONSTER_3</key>
	<string>百人斩 </string>
	<key>ADT_MONSTER_3_TARGET</key>
	<string>杀死怪物100个</string>
	<key>ADT_MONSTER_4</key>
	<string>冷血屠夫 </string>
	<key>ADT_MONSTER_4_TARGET</key>
	<string>杀死怪物500个</string>
	<key>ADT_MONSTER_5</key>
	<string>血流成河</string>
	<key>ADT_MONSTER_5_TARGET</key>
	<string>杀死怪物1500个</string>
	<key>ADT_MONSTER_6</key>
	<string>超神 </string>
	<key>ADT_MONSTER_6_TARGET</key>
	<string>杀死怪物3000个</string>
	<key>ADT_SPECIFIED_MONSTER_1</key>
	<string>行尸走肉</string>
	<key>ADT_SPECIFIED_MONSTER_1_TARGET</key>
	<string>杀死僵尸50个</string>
	<key>ADT_SPECIFIED_MONSTER_2</key>
	<string>野兽猎人</string>
	<key>ADT_SPECIFIED_MONSTER_2_TARGET</key>
	<string>杀死野兽蛇,蝙蝠,狼,熊,恐龙各100个</string>
	<key>ADT_SPECIFIED_MONSTER_3</key>
	<string>亡灵杀手 </string>
	<key>ADT_SPECIFIED_MONSTER_3_TARGET</key>
	<string>杀死亡灵怪物僵尸,骷髅,怨魂,幽灵,食尸鬼,石像鬼各100个</string>
	<key>ADT_SPECIFIED_MONSTER_4</key>
	<string>清洁工 </string>
	<key>ADT_SPECIFIED_MONSTER_4_TARGET</key>
	<string>杀死蜘蛛,老鼠,史莱姆,软泥怪,阴影怪各100个</string>
	<key>ADT_SPECIFIED_MONSTER_5</key>
	<string>王牌精英  </string>
	<key>ADT_SPECIFIED_MONSTER_5_TARGET</key>
	<string>杀死精英怪  50个</string>
	<key>ADT_SPECIFIED_MONSTER_6</key>
	<string>标本收集者  </string>
	<key>ADT_SPECIFIED_MONSTER_6_TARGET</key>
	<string>杀死所有怪物类型</string>
	<key>ADT_BOSS_KILL_1</key>
	<string>勇闯下水道</string>
	<key>ADT_BOSS_KILL_1_TARGET</key>
	<string>杀死史莱姆之王</string>
	<key>ADT_BOSS_KILL_2</key>
	<string>监狱风云</string>
	<key>ADT_BOSS_KILL_2_TARGET</key>
	<string>杀死典狱长</string>
	<key>ADT_BOSS_KILL_3</key>
	<string>网红教覆灭记</string>
	<key>ADT_BOSS_KILL_3_TARGET</key>
	<string>杀死网红教大主教</string>
	<key>ADT_BOSS_KILL_4</key>
	<string>死亡矿井</string>
	<key>ADT_BOSS_KILL_4_TARGET</key>
	<string>杀死狗头人首领</string>
	<key>ADT_BOSS_KILL_5</key>
	<string>洞穴历险记</string>
	<key>ADT_BOSS_KILL_5_TARGET</key>
	<string>杀死巨人格鲁尔德</string>
	<key>ADT_BOSS_KILL_6</key>
	<string>墓穴回魂夜 </string>
	<key>ADT_BOSS_KILL_6_TARGET</key>
	<string>杀死骷髅王</string>
	<key>ADT_ROLE_FALL_DEAD</key>
	<string>失足青年</string>
	<key>ADT_ROLE_FALL_DEAD_TARGET</key>
	<string>第1次跌落深渊而死</string>
	<key>ADT_ROLE_POISON_DEAD</key>
	<string>娘娘赐你死</string>
	<key>ADT_ROLE_POISON_DEAD_TARGET</key>
	<string>第1次中毒而死</string>
	<key>ADT_ROLE_CLIP_DEAD</key>
	<string>大刑伺候</string>
	<key>ADT_ROLE_CLIP_DEAD_TARGET</key>
	<string>第1次死于夹子陷阱</string>
	<key>ADT_ROLE_FILE_DEAD</key>
	<string>追寻布鲁诺</string>
	<key>ADT_ROLE_FILE_DEAD_TARGET</key>
	<string>第1次死于火焰陷阱</string>
	<key>ADT_ROLE_DEAD_1</key>
	<string>第一块墓碑</string>
	<key>ADT_ROLE_DEAD_1_TARGET</key>
	<string>第1次死于怪物之手</string>
	<key>ADT_ROLE_DEAD_2</key>
	<string>无可救药</string>
	<key>ADT_ROLE_DEAD_2_TARGET</key>
	<string>死亡10次</string>
	<key>ADT_ROLE_DEAD_3</key>
	<string>春哥已死</string>
	<key>ADT_ROLE_DEAD_3_TARGET</key>
	<string>死亡 50次</string>
	<key>ADT_ROLE_DEAD_4</key>
	<string>你就是死神</string>
	<key>ADT_ROLE_DEAD_4_TARGET</key>
	<string>死亡100次</string>
	<key>ADT_IDENTIFY_1</key>
	<string>初出茅庐</string>
	<key>ADT_IDENTIFY_1_TARGET</key>
	<string>第1次鉴定</string>
	<key>ADT_IDENTIFY_2</key>
	<string>小有名气</string>
	<key>ADT_IDENTIFY_2_TARGET</key>
	<string>第1次鉴定出属性超过2条的道具</string>
	<key>ADT_IDENTIFY_3</key>
	<string>锋芒毕露</string>
	<key>ADT_IDENTIFY_3_TARGET</key>
	<string>第1次鉴定出传说级装备</string>
	<key>ADT_IDENTIFY_4</key>
	<string>大鉴定师</string>
	<key>ADT_IDENTIFY_4_TARGET</key>
	<string>使用鉴定卷轴100次</string>
	<key>ADT_EXTEND_BAG</key>
	<string>背包还不够大</string>
	<key>ADT_EXTEND_BAG_TARGET</key>
	<string> 第1次扩展背包</string>
	<key>ADT_BAG_FULL</key>
	<string>满载而归</string>
	<key>ADT_BAG_FULL_TARGET</key>
	<string>第1次背包被填满</string>
	<key>ADT_EXTEND_BAG_MAX</key>
	<string>有钱人就是要买包包</string>
	<key>ADT_EXTEND_BAG_MAX_TARGET</key>
	<string>背包扩展到最大数</string>
	<key>ADT_WEALTHY_MEN</key>
	<string>有钱人</string>
	<key>ADT_WEALTHY_MEN_TARGET</key>
	<string>第1次丢弃道具</string>
	<key>ADT_SPENDERS_MEN</key>
	<string>败家子</string>
	<key>ADT_SPENDERS_MEN_TARGET</key>
	<string>丢弃装备50次</string>
	<key>ADT_PICK_ITEM</key>
	<string>走路要低头</string>
	<key>ADT_PICK_ITEM_TARGET</key>
	<string> 第1次拾取道具</string>
	<key>ADT_PICK_NOT_MARIC_ITEM</key>
	<string>破烂王</string>
	<key>ADT_PICK_NOT_MARIC_ITEM_TARGET</key>
	<string>拾取非魔法装备50件</string>
	<key>ADT_MARATHON</key>
	<string>马拉松</string>
	<key>ADT_MARATHON_TARGET</key>
	<string>走路步数超过42000步</string>
	<key>ADT_WORLD_RECORD</key>
	<string>世界纪录保持者</string>
	<key>ADT_WORLD_RECORD_TARGET</key>
	<string>5秒钟之内移动超过10步</string>
	<key>ADT_THIRTY_NOT_MOVE</key>
	<string>稳如泰山</string>
	<key>ADT_THIRTY_NOT_MOVE_TARGET</key>
	<string> 30秒内不移动</string>
	<key>ADT_OBSESSION_MEN</key>
	<string>强迫症患者</string>
	<key>ADT_OBSESSION_MEN_TARGET</key>
	<string>探索地牢任何一层的所有区域</string>
	<key>ADT_FOUND_HIDDEN_DOOR</key>
	<string>逃不过我的法眼</string>
	<key>ADT_FOUND_HIDDEN_DOOR_TARGET</key>
	<string> 第1次发现隐藏门</string>
	<key>ADT_FOUND_HIDDEN_TRAP_FIRST</key>
	<string>哎呦,吓死宝宝了</string>
	<key>ADT_FOUND_HIDDEN_TRAP_FIRST_TARGET</key>
	<string>第1次发现隐藏陷阱</string>
	<key>ADT_FOUND_HIDDEN_TRAP</key>
	<string>火眼金睛</string>
	<key>ADT_FOUND_HIDDEN_TRAP_TARGET</key>
	<string>发现隐藏门或陷阱 50次</string>
	<key>ADT_FOUND_HIDDEN_MSG_FIRST</key>
	<string>这是什么？</string>
	<key>ADT_FOUND_HIDDEN_MSG_FIRST_TARGET</key>
	<string>第1次发现隐藏信息</string>
	<key>ADT_FOUND_HIDDEN_MSG</key>
	<string>维基百科</string>
	<key>ADT_FOUND_HIDDEN_MSG_TARGET</key>
	<string>发现10条隐藏信息</string>
	<key>ADT_SEARCH_KING</key>
	<string>问题王</string>
	<key>ADT_SEARCH_KING_TARGET</key>
	<string>检索过100次</string>
	<key>ADT_LOVE_QUESTION</key>
	<string>爱提问的小盆友</string>
	<key>ADT_LOVE_QUESTION_TARGET</key>
	<string>检索过10次</string>
	<key>ADT_ALL_ARRIVE_DUNGEON</key>
	<string>大冒险家</string>
	<key>ADT_ALL_ARRIVE_DUNGEON_TARGET</key>
	<string>到达过所有地下城</string>
	<key>ADT_BREAK_JAR_1</key>
	<string>破罐破摔</string>
	<key>ADT_BREAK_JAR_1_TARGET</key>
	<string>打破罐子20个</string>
	<key>ADT_BREAK_JAR_2</key>
	<string>破坏王</string>
	<key>ADT_BREAK_JAR_2_TARGET</key>
	<string>打破罐子100个</string>
	<key>ADT_COPPER_BOX_FIRST</key>
	<string>小盗贼</string>
	<key>ADT_COPPER_BOX_FIRST_TARGET</key>
	<string>第1次开启铜质宝箱</string>
	<key>ADT_SILVER_BOX_FIRST</key>
	<string>盗贼高手</string>
	<key>ADT_SILVER_BOX_FIRST_TARGET</key>
	<string>第一次开启银质宝箱</string>
	<key>ADT_GOLD_BOX_FIRST</key>
	<string>盗贼精英</string>
	<key>ADT_GOLD_BOX_FIRST_TARGET</key>
	<string>第1次开启金质宝箱</string>
	<key>ADT_OPEN_BOX</key>
	<string>盗贼大王</string>
	<key>ADT_OPEN_BOX_TARGET</key>
	<string>开启宝箱 50个</string>
	<key>ADT_USE_KEY</key>
	<string>天下无贼</string>
	<key>ADT_USE_KEY_TARGET</key>
	<string>使用钥匙100次</string>
	<key>ADT_MEET_THIEF_FIRST</key>
	<string>加入盗贼工会</string>
	<key>ADT_MEET_THIEF_FIRST_TARGET</key>
	<string>第1次遇到过盗贼</string>
	<key>ADT_NURSE_TREAT</key>
	<string>制服诱惑</string>
	<key>ADT_NURSE_TREAT_TARGET</key>
	<string>请护士小姐为你治疗过10次</string>
	<key>ADT_MEET_HAG_FIRST</key>
	<string>魔女的条件</string>
	<key>ADT_MEET_HAG_FIRST_TARGET</key>
	<string>第1次遇到过魔女</string>
	<key>ADT_SAGE_STORY</key>
	<string>听爷爷讲那过去的故事</string>
	<key>ADT_SAGE_STORY_TARGET</key>
	<string>听过智者的3段故事</string>
	<key>ADT_BUY_EQUIP</key>
	<string>北市买长鞭</string>
	<key>ADT_BUY_EQUIP_TARGET</key>
	<string>从骑士手中购买过武器和装备</string>
	<key>ADT_BUY_MARICORIM</key>
	<string>穷家富路</string>
	<key>ADT_BUY_MARICORIM_TARGET</key>
	<string>从售货员手中购买过药水</string>
	<key>ADT_BUY_SCROLL_POTION</key>
	<string>我需要卷轴</string>
	<key>ADT_BUY_SCROLL_POTION_TARGET</key>
	<string>从巫婆手中购买过卷轴</string>
	<key>ADT_HAVE_GOLD_1</key>
	<string>第一桶金</string>
	<key>ADT_HAVE_GOLD_1_TARGET</key>
	<string>拥有一个金币</string>
	<key>ADT_HAVE_GOLD_2</key>
	<string>小富即安</string>
	<key>ADT_HAVE_GOLD_2_TARGET</key>
	<string>拥有过超过100个金币</string>
	<key>ADT_HAVE_GOLD_3</key>
	<string>大富翁</string>
	<key>ADT_HAVE_GOLD_3_TARGET</key>
	<string>拥有过超过500个金币</string>
	<key>ADT_HAVE_GOLD_4</key>
	<string>富可敌国</string>
	<key>ADT_HAVE_GOLD_4_TARGET</key>
	<string>拥有过超过5000个金币</string>
	<key>ADT_ROLE_LEVEL_1</key>
	<string>成年了</string>
	<key>ADT_ROLE_LEVEL_1_TARGET</key>
	<string>角色达到10级</string>
	<key>ADT_ROLE_LEVEL_2</key>
	<string>熟透了</string>
	<key>ADT_ROLE_LEVEL_2_TARGET</key>
	<string>角色达到30级</string>
	<key>ADT_ROLE_HP</key>
	<string>血牛</string>
	<key>ADT_ROLE_HP_TARGET</key>
	<string>生命值突破500</string>
	<key>ADT_ROLE_ATTACK</key>
	<string>赛亚人变身</string>
	<key>ADT_ROLE_ATTACK_TARGET</key>
	<string>最大攻击力突破50</string>
	<key>ADT_ROLE_DODGE</key>
	<string>凌波微步</string>
	<key>ADT_ROLE_DODGE_TARGET</key>
	<string>闪避过50次</string>
	<key>ADT_ROLE_CRIT</key>
	<string>扎你苦胆</string>
	<key>ADT_ROLE_CRIT_TARGET</key>
	<string>爆击过50次</string>
	<key>ADT_ROLE_BLOCK</key>
	<string>当当当</string>
	<key>ADT_ROLE_BLOCK_TARGET</key>
	<string>格挡过50次</string>
	<key>ADT_ROLE_LUCK_NOT_DEAD</key>
	<string>大难不死</string>
	<key>ADT_ROLE_LUCK_NOT_DEAD_TARGET</key>
	<string>跳入深渊没有被摔死</string>
	<key>ADT_STEALTHY_FIRST</key>
	<string>阴影下成长</string>
	<key>ADT_STEALTHY_FIRST_TARGET</key>
	<string>第1次隐身</string>
	<key>ADT_WEAK_RECOVER</key>
	<string>大病康复</string>
	<key>ADT_WEAK_RECOVER_TARGET</key>
	<string>第1次从虚弱中恢复</string>
	<key>ADT_POISON_NOT_DEAD</key>
	<string>毒不死的小强</string>
	<key>ADT_POISON_NOT_DEAD_TARGET</key>
	<string>第1次从中毒中恢复</string>
	<key>ADT_SPEED_UP_FIRST</key>
	<string>飞一般的感觉</string>
	<key>ADT_SPEED_UP_FIRST_TARGET</key>
	<string>第1次加速</string>
	<key>ADT_STRONG_FIRST</key>
	<string>挡我者死</string>
	<key>ADT_STRONG_FIRST_TARGET</key>
	<string>第1次进入强壮状态</string>
</dict>
</plist>
