<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADT_KILL_FIRST</key>
	<string>哇，拿下一滴血哦，厉害</string>
	<key>ADT_STEP_HUNDRED</key>
	<string>走了一百步了，真是健步如飞啊</string>
</dict>
</plist>
