<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GAME_NAME</key>
	<string>体素地牢</string>
	<key>DT_SEWER</key>
	<string>下水道</string>
	<key>DT_PRISON</key>
	<string>监狱</string>
	<key>DT_TEMPLE</key>
	<string>破庙</string>
	<key>DT_PIT</key>
	<string>矿坑</string>
	<key>DT_CAVE</key>
	<string>洞穴</string>
	<key>DT_TOMB</key>
	<string>古墓</string>
	<key>DT_DWARF_CASTLE</key>
	<string>矮人城堡</string>
	<key>DT_MAGA_TOWER</key>
	<string>法师之塔</string>
	<key>DT_ORC_FORTRESS</key>
	<string>兽人堡垒</string>
	<key>DT_ELF_FOREST</key>
	<string>精灵之森</string>
	<key>DT_TROLL_TEMPLE</key>
	<string>巨魔神庙</string>
	<key>DT_BEHOLDER_CASTLE</key>
	<string>眼魔城堡</string>
	<key>DT_WARP_SPACE</key>
	<string>异度空间</string>
	<key>DT_DRAGON_LAIR</key>
	<string>龙穴</string>
	<key>DT_LICH_TOMB</key>
	<string>巫妖墓室</string>
</dict>
</plist>
