<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GAME_NAME</key>
	<string>Voxel Dungeon</string>
	<key>DN_SEWER</key>
	<string>Sewer</string>
	<key>DN_PRISON</key>
	<string>Prison</string>
	<key>DN_FANE</key>
	<string>Fane</string>
	<key>DN_MINES</key>
	<string>Pit</string>
	<key>DN_CAVE</key>
	<string>Cave</string>
	<key>DN_TOMB</key>
	<string>Tomb</string>
	<key>DN_DWARF_CASTLE</key>
	<string>Dwaft Castle</string>
	<key>DN_MAGA_TOWER</key>
	<string>Maga Tower</string>
	<key>DN_ORC_FORTRESS</key>
	<string>Orc Fortress</string>
	<key>DN_ELF_FOREST</key>
	<string>Elf Forest</string>
	<key>DN_TROLL_TEMPLE</key>
	<string>Troll Temple</string>
	<key>DN_BEHOLDER_CASTLE</key>
	<string>Beholder Castle</string>
	<key>DN_WARP_SPACE</key>
	<string>Wrap Space</string>
	<key>DN_DRAGON_LAIR</key>
	<string>Dragon Lair</string>
	<key>DN_LICH_TOMB</key>
	<string>Lich Tomb</string>
	<key>MMN_RAT</key>
	<string>Rat</string>
	<key>MMN_BAT</key>
	<string>Bat</string>
	<key>MMN_SNAKE</key>
	<string>Snake</string>
	<key>MMN_SPIDER</key>
	<string>Spider</string>
	<key>MMN_SLIME</key>
	<string>Slime</string>
	<key>MMN_ALLIP</key>
	<string>Allip</string>
	<key>MMN_PRISONER</key>
	<string>Prisoner</string>
	<key>MMN_PRISONGUARD</key>
	<string>Prison Guard</string>
	<key>MMN_TORTURE</key>
	<string>Torture</string>
	<key>MMN_MOB</key>
	<string>Mob</string>
	<key>MMN_BELIEVER</key>
	<string>Believer</string>
	<key>MMN_GATEKEEPER</key>
	<string>Gate Keeper</string>
	<key>MMN_APOLOGIST</key>
	<string>Apologist</string>
	<key>MMN_ADJUDICATOR</key>
	<string>Adjudicator</string>
	<key>MMN_PRIEST</key>
	<string>Priest</string>
	<key>MMN_DEATHMINER</key>
	<string>Death Miner</string>
	<key>MMN_KOBOLD</key>
	<string>Kobold</string>
	<key>MMN_OOZE</key>
	<string>Ooze</string>
	<key>MMN_SHADOW</key>
	<string>Shadow</string>
	<key>MMN_ANKHEG</key>
	<string>Ankheg</string>
	<key>MMN_WOLF</key>
	<string>Wolf</string>
	<key>MMN_BEAR</key>
	<string>Bear</string>
	<key>MMN_GOBLIN</key>
	<string>Goblin</string>
	<key>MMN_DINOSAUR</key>
	<string>Dinosaur</string>
	<key>MMN_GNOLL</key>
	<string>Gnoll</string>
	<key>MMN_SKELETON</key>
	<string>Skeleton</string>
	<key>MMN_ZOMBIE</key>
	<string>Zombie</string>
	<key>MMN_GARGOYLE</key>
	<string>Gargoyle</string>
	<key>MMN_GHOST</key>
	<string>Ghost</string>
	<key>MMN_GHOUL</key>
	<string>Ghoul</string>
	<key>PIN_KEY_COPPER</key>
	<string>Copper Key</string>
	<key>PIN_KEY_SILVER</key>
	<string>Silver Key</string>
	<key>PIN_KEY_GOLD</key>
	<string>Gold Key</string>
	<key>PIN_KEY_BOSS</key>
	<string>The %s&apos;s key</string>
	<key>PIN_KEY_ROOM</key>
	<string>The key of %s</string>
	<key>PIN_DAGGER_DAGGER</key>
	<string>Dagger</string>
	<key>PIN_DAGGER_HALFSWORD</key>
	<string>Half sword</string>
	<key>PIN_DAGGER_KNIFE</key>
	<string>Knife</string>
	<key>PIN_DAGGER_COLDSTEELDAGGER</key>
	<string>Cold steel dagger</string>
	<key>PIN_DAGGER_RIPPERCUTTER</key>
	<string>Ripper cutter</string>
	<key>PIN_DAGGER_BLUELIGHTDAGGER</key>
	<string>Blue light dagger</string>
	<key>PIN_DAGGER_RUBYDAGGER</key>
	<string>Ruby dagger</string>
	<key>PIN_DAGGER_PRO_DAGGER</key>
	<string>Candlelight</string>
	<key>PIN_DAGGER_PRO_HALFSWORD</key>
	<string>Stars Shine</string>
	<key>PIN_DAGGER_PRO_KNIFE</key>
	<string>Gold Killer</string>
	<key>PIN_DAGGER_PRO_COLDSTEELDAGGER</key>
	<string>Shadow Attacker</string>
	<key>PIN_DAGGER_PRO_RIPPERCUTTER</key>
	<string>Six Blade</string>
	<key>PIN_DAGGER_PRO_BLUELIGHTDAGGER</key>
	<string>Frozen Cloud</string>
	<key>PIN_DAGGER_PRO_RUBYDAGGER</key>
	<string>Flame</string>
</dict>
</plist>
