<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GAME_NAME</key>
	<string>Voxel Dungeon</string>
	<key>FONT_NAME</key>
	<string>04B_03.TTF</string>
	<key>DN_SEWER</key>
	<string>Sewer</string>
	<key>DN_PRISON</key>
	<string>Prison</string>
	<key>DN_FANE</key>
	<string>Fane</string>
	<key>DN_MINES</key>
	<string>Pit</string>
	<key>DN_CAVE</key>
	<string>Cave</string>
	<key>DN_TOMB</key>
	<string>Tomb</string>
	<key>DN_DWARF_CASTLE</key>
	<string>Dwaft Castle</string>
	<key>DN_MAGA_TOWER</key>
	<string>Maga Tower</string>
	<key>DN_ORC_FORTRESS</key>
	<string>Orc Fortress</string>
	<key>DN_ELF_FOREST</key>
	<string>Elf Forest</string>
	<key>DN_TROLL_TEMPLE</key>
	<string>Troll Temple</string>
	<key>DN_BEHOLDER_CASTLE</key>
	<string>Beholder Castle</string>
	<key>DN_WARP_SPACE</key>
	<string>Wrap Space</string>
	<key>DN_DRAGON_LAIR</key>
	<string>Dragon Lair</string>
	<key>DN_LICH_TOMB</key>
	<string>Lich Tomb</string>
	<key>MMN_RAT</key>
	<string>Rat</string>
	<key>MMN_BAT</key>
	<string>Bat</string>
	<key>MMN_SNAKE</key>
	<string>Snake</string>
	<key>MMN_SPIDER</key>
	<string>Spider</string>
	<key>MMN_SLIME</key>
	<string>Slime</string>
	<key>MMN_ALLIP</key>
	<string>Allip</string>
	<key>MMN_PRISONER</key>
	<string>Prisoner</string>
	<key>MMN_PRISONGUARD</key>
	<string>Prison Guard</string>
	<key>MMN_TORTURE</key>
	<string>Torture</string>
	<key>MMN_MOB</key>
	<string>Mob</string>
	<key>MMN_BELIEVER</key>
	<string>Believer</string>
	<key>MMN_GATEKEEPER</key>
	<string>Gate Keeper</string>
	<key>MMN_APOLOGIST</key>
	<string>Apologist</string>
	<key>MMN_ADJUDICATOR</key>
	<string>Adjudicator</string>
	<key>MMN_PRIEST</key>
	<string>Priest</string>
	<key>MMN_DEATHMINER</key>
	<string>Death Miner</string>
	<key>MMN_KOBOLD</key>
	<string>Kobold</string>
	<key>MMN_OOZE</key>
	<string>Ooze</string>
	<key>MMN_SHADOW</key>
	<string>Shadow</string>
	<key>MMN_ANKHEG</key>
	<string>Ankheg</string>
	<key>MMN_WOLF</key>
	<string>Wolf</string>
	<key>MMN_BEAR</key>
	<string>Bear</string>
	<key>MMN_GOBLIN</key>
	<string>Goblin</string>
	<key>MMN_DINOSAUR</key>
	<string>Dinosaur</string>
	<key>MMN_GNOLL</key>
	<string>Gnoll</string>
	<key>MMN_SKELETON</key>
	<string>Skeleton</string>
	<key>MMN_ZOMBIE</key>
	<string>Zombie</string>
	<key>MMN_GARGOYLE</key>
	<string>Gargoyle</string>
	<key>MMN_GHOST</key>
	<string>Ghost</string>
	<key>MMN_GHOUL</key>
	<string>Ghoul</string>
	<key>PIN_KEY_COPPER</key>
	<string>Copper Key</string>
	<key>PIN_KEY_SILVER</key>
	<string>Silver Key</string>
	<key>PIN_KEY_GOLD</key>
	<string>Gold Key</string>
	<key>PIN_KEY_BOSS</key>
	<string>The %s&apos;s key</string>
	<key>PIN_KEY_ROOM</key>
	<string>The key of %s</string>
	<key>PIN_DAGGER_DAGGER</key>
	<string>Dagger</string>
	<key>PIN_DAGGER_HALFSWORD</key>
	<string>Half sword</string>
	<key>PIN_DAGGER_KNIFE</key>
	<string>Knife</string>
	<key>PIN_DAGGER_COLDSTEELDAGGER</key>
	<string>Cold steel dagger</string>
	<key>PIN_DAGGER_RIPPERCUTTER</key>
	<string>Ripper cutter</string>
	<key>PIN_DAGGER_BLUELIGHTDAGGER</key>
	<string>Blue light dagger</string>
	<key>PIN_DAGGER_RUBYDAGGER</key>
	<string>Ruby dagger</string>
	<key>PIN_DAGGER_PRO_DAGGER</key>
	<string>Candlelight</string>
	<key>PIN_DAGGER_PRO_HALFSWORD</key>
	<string>Stars Shine</string>
	<key>PIN_DAGGER_PRO_KNIFE</key>
	<string>Gold Killer</string>
	<key>PIN_DAGGER_PRO_COLDSTEELDAGGER</key>
	<string>Shadow Attacker</string>
	<key>PIN_DAGGER_PRO_RIPPERCUTTER</key>
	<string>Six Blade</string>
	<key>PIN_DAGGER_PRO_BLUELIGHTDAGGER</key>
	<string>Frozen Cloud</string>
	<key>PIN_DAGGER_PRO_RUBYDAGGER</key>
	<string>Fireflow</string>
	<key>PIN_AXE_HATCHET</key>
	<string>Hatchet</string>
	<key>PIN_AXE_ADZE</key>
	<string>Adze</string>
	<key>PIN_AXE_STONEAXE</key>
	<string>Stone Axe</string>
	<key>PIN_AXE_BROADAX</key>
	<string>Broadax</string>
	<key>PIN_AXE_TOMAHAWK</key>
	<string>Tomahawk</string>
	<key>PIN_AXE_HUGEAXE</key>
	<string>Huge Axe</string>
	<key>PIN_AXE_DOUBLEBITAX</key>
	<string>Double-bit Ax</string>
	<key>PIN_AXE_PRO_HATCHET</key>
	<string>Dark Iron</string>
	<key>PIN_AXE_PRO_ADZE</key>
	<string>Half Moon</string>
	<key>PIN_AXE_PRO_STONEAXE</key>
	<string>Cyclotron</string>
	<key>PIN_AXE_PRO_BROADAX</key>
	<string>Molten lava</string>
	<key>PIN_AXE_PRO_TOMAHAWK</key>
	<string>Berserker</string>
	<key>PIN_AXE_PRO_HUGEAXE</key>
	<string>Skull Splitter</string>
	<key>PIN_AXE_PRO_DOUBLEBITAX</key>
	<string>Brainhew</string>
	<key>PIN_SWORD_SWORD</key>
	<string>Sword</string>
	<key>PIN_SWORD_STEELSWORD</key>
	<string>Steel Sword</string>
	<key>PIN_SWORD_SABRE</key>
	<string>Sabre</string>
	<key>PIN_SWORD_HUGESWORD</key>
	<string>Huge Sword</string>
	<key>PIN_SWORD_TRIANGLESWORD</key>
	<string>Triangle Sword</string>
	<key>PIN_SWORD_JAGGEDSWORD</key>
	<string>Jagged Sword</string>
	<key>PIN_SWORD_CRYSTALSWORD</key>
	<string>Crystal Sword</string>
	<key>PIN_SWORD_PRO_SWORD</key>
	<string>Red Lotus</string>
	<key>PIN_SWORD_PRO_STEELSWORD</key>
	<string>Flash</string>
	<key>PIN_SWORD_PRO_SABRE</key>
	<string>Wind Strike</string>
	<key>PIN_SWORD_PRO_HUGESWORD</key>
	<string>Solar Flame</string>
	<key>PIN_SWORD_PRO_TRIANGLESWORD</key>
	<string>Bloodletters</string>
	<key>PIN_SWORD_PRO_JAGGEDSWORD</key>
	<string>Sawtooth</string>
	<key>PIN_SWORD_PRO_CRYSTALSWORD</key>
	<string>No God</string>
	<key>PIN_MACE_ROLLINGPIN</key>
	<string>Rolling Pin</string>
	<key>PIN_MACE_MALLET</key>
	<string>Mallet</string>
	<key>PIN_MACE_MACE</key>
	<string>Mace</string>
	<key>PIN_MACE_HAMMER</key>
	<string>Hammer</string>
	<key>PIN_MACE_WOLFFANGSMACE</key>
	<string>Wolf&apos;s Fangs Mace</string>
	<key>PIN_MACE_BONEHAMMER</key>
	<string>Bone Hammer</string>
	<key>PIN_MACE_SLEDGEHAMMER</key>
	<string>Sledge Hammer</string>
	<key>PIN_MACE_PRO_ROLLINGPIN</key>
	<string>Dinosaur bone</string>
	<key>PIN_MACE_PRO_MALLET</key>
	<string>The hammer of ogre</string>
	<key>PIN_MACE_PRO_MACE</key>
	<string>Ruby Mace</string>
	<key>PIN_MACE_PRO_HAMMER</key>
	<string>Golden glory</string>
	<key>PIN_MACE_PRO_WOLFFANGSMACE</key>
	<string>Mace of the gods</string>
	<key>PIN_MACE_PRO_BONEHAMMER</key>
	<string>Sapphire Mace</string>
	<key>PIN_MACE_PRO_SLEDGEHAMMER</key>
	<string>Azrael Power</string>
	<key>PIN_BOW_SHORTBOW</key>
	<string>Short Bow</string>
	<key>PIN_BOW_LONGBOW</key>
	<string>Long Bow</string>
	<key>PIN_BOW_HORNBOW</key>
	<string>Horn Bow</string>
	<key>PIN_BOW_REFLEXBOW</key>
	<string>Reflex Bow</string>
	<key>PIN_BOW_EAGLEBOW</key>
	<string>Eagle Bow</string>
	<key>PIN_BOW_LAMINATEDBOW</key>
	<string>Laminated Bow</string>
	<key>PIN_BOW_GOLDENBOW</key>
	<string>Golden Bow</string>
	<key>PIN_BOW_PRO_SHORTBOW</key>
	<string>Scorpion tail</string>
	<key>PIN_BOW_PRO_LONGBOW</key>
	<string>Hexfire</string>
	<key>PIN_BOW_PRO_HORNBOW</key>
	<string>Life Terminator</string>
	<key>PIN_BOW_PRO_REFLEXBOW</key>
	<string>Shadow Impact</string>
	<key>PIN_BOW_PRO_EAGLEBOW</key>
	<string>Hawkeye</string>
	<key>PIN_BOW_PRO_LAMINATEDBOW</key>
	<string>Green Hat</string>
	<key>PIN_BOW_PRO_GOLDENBOW</key>
	<string>Starsfall</string>
	<key>PIN_STAFF_OAKSTAFF</key>
	<string>Oak Staff</string>
	<key>PIN_STAFF_FIRSTAFF</key>
	<string>Fir Staff</string>
	<key>PIN_STAFF_ASHESSTAFF</key>
	<string>Ashes Staff</string>
	<key>PIN_STAFF_DEMONSTAFF</key>
	<string>Demon Staff</string>
	<key>PIN_STAFF_CITRONSTAFF</key>
	<string>Citron Staff</string>
	<key>PIN_STAFF_CLOUDSTAFF</key>
	<string>Cloud Staff</string>
	<key>PIN_STAFF_MONKSTAFF</key>
	<string>Monk Staff</string>
	<key>PIN_STAFF_PRO_OAKSTAFF</key>
	<string>Emerald</string>
	<key>PIN_STAFF_PRO_FIRSTAFF</key>
	<string>Venus</string>
	<key>PIN_STAFF_PRO_ASHESSTAFF</key>
	<string>Cerebus&apos; Bite</string>
	<key>PIN_STAFF_PRO_DEMONSTAFF</key>
	<string>Exorcist</string>
	<key>PIN_STAFF_PRO_CITRONSTAFF</key>
	<string>The Prius Spear</string>
	<key>PIN_STAFF_PRO_CLOUDSTAFF</key>
	<string>Blood courage</string>
	<key>PIN_STAFF_PRO_MONKSTAFF</key>
	<string>Archangel</string>
	<key>PIN_SHIELD_WOODENSHIELD</key>
	<string>Wooden Shield</string>
	<key>PIN_SHIELD_TRIANGLESHIELD</key>
	<string>Triangles Shield</string>
	<key>PIN_SHIELD_STEELSHIELD</key>
	<string>Steel Shield</string>
	<key>PIN_SHIELD_EAGLESHIELD</key>
	<string>Eagle Shield</string>
	<key>PIN_SHIELD_OSTEOSCUTE</key>
	<string>Osteoscute</string>
	<key>PIN_SHIELD_GOLDENSHIELD</key>
	<string>Golden Shield</string>
	<key>PIN_SHIELD_TOWERSHIELD</key>
	<string>Tower Shield</string>
	<key>PIN_SHIELD_PRO_WOODENSHIELD</key>
	<string>Dark defender</string>
	<key>PIN_SHIELD_PRO_TRIANGLESHIELD</key>
	<string>Grimace</string>
	<key>PIN_SHIELD_PRO_STEELSHIELD</key>
	<string>The night watchman</string>
	<key>PIN_SHIELD_PRO_EAGLESHIELD</key>
	<string>Green Goblin</string>
	<key>PIN_SHIELD_PRO_OSTEOSCUTE</key>
	<string>Skeleton King&apos;s body</string>
	<key>PIN_SHIELD_PRO_GOLDENSHIELD</key>
	<string>Medusa&apos;s mirror</string>
	<key>PIN_SHIELD_PRO_TOWERSHIELD</key>
	<string>Wall of sighs</string>
	<key>PIN_CLOTH_SHOES</key>
	<string>Shoes</string>
	<key>PIN_CLOTH_MAGA_CAP</key>
	<string>Maga Cap</string>
	<key>PIN_CLOTH_CLOTH</key>
	<string>Cloth</string>
	<key>PIN_CLOTH_LEATHERARMOR</key>
	<string>Leather Armor</string>
	<key>PIN_CLOTH_CHAINSHOES</key>
	<string>Chain Shoes</string>
	<key>PIN_CLOTH_HELEMT</key>
	<string>Helemt</string>
	<key>PIN_CLOTH_STEELARMOR</key>
	<string>Steel Armor</string>
	<key>PIN_CLOTH_PRO_SHOES</key>
	<string>Boots of travel</string>
	<key>PIN_CLOTH_PRO_MAGA_CAP</key>
	<string>Grand Master&apos;s hat</string>
	<key>PIN_CLOTH_PRO_CLOTH</key>
	<string>Silver moonlight</string>
	<key>PIN_CLOTH_PRO_LEATHERARMOR</key>
	<string>Life Cage</string>
	<key>PIN_CLOTH_PRO_CHAINSHOES</key>
	<string>Foot diameter of cloud</string>
	<key>PIN_CLOTH_PRO_HELEMT</key>
	<string>Knight looks</string>
	<key>PIN_CLOTH_PRO_STEELARMOR</key>
	<string>No widow</string>
</dict>
</plist>
