<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>
年轻时候我曾游历艾尔文森林。。。
有感而发，赋诗一首：
        </string>
		<string>
“矿洞狗头阵，湖畔鱼人群。
公主带小弟，霍格教做人。”
        </string>
	</array>
	<array>
		<string>
我以资深游戏人的经验
告诉各位玩家：
        </string>
		<string>
如果你以选游戏的态度选女票，
你将没有女票…
        </string>
	</array>
	<array>
		<string>
哦～亲爱的旅行者，
看你一身发光的装备，
我就知道你一定是个
威风凛凛的独行侠。
        </string>
		<string>
我？我可不行，
年轻的时候也不行！
想我当时被霍格一路追杀。
        </string>
		<string>
要不是路过的张铁匠和王裁缝，
估计骨头都剩不下了。
        </string>
		<string>
唯一值得庆幸的是，
就这样，我认识了整个镇子的伙计们，
我们还一起去过黑翼之巢呢！
        </string>
	</array>
	<array>
		<string>
从前，有一个靠海的村子，
村民靠捕鱼为生。。。
这样过了很多很多年~~~
        </string>
		<string>
突然有一天，海里面来了一只怪鱼，
专门吃出海捕鱼的村民们，
已经吃了好几个人了。。。
        </string>
		<string>
这只怪鱼长了六只眼睛，还会飞，
于是村民们管它叫“六眼飞鱼” 。
        </string>
		<string>
眼看六眼飞鱼肆无忌惮地杀人，
又没人能治它，村民们头都急大了，
这样下去如何是好呀~~~
        </string>
		<string>
这时，村里来了一个小伙子，
很年轻，他的名字很特别，叫“爱”，
“爱”说他能把六眼飞鱼杀死。。。
        </string>
		<string>
但是他需要将村子里的
“勇气”姑娘嫁给他，村民们很不屑。。
但“勇气”姑娘为了全村人还是答应了。
        </string>
		<string>
第二天，爱果然提着那怪鱼的尸体回来了，
村民们大感震惊，都问“爱”
“你是怎么做到的呢？”
        </string>
		<string>
“爱”说：
“爱真的需要勇气，来面对六眼飞鱼”
        ～～:)
        </string>
	</array>
	<array>
		<string>
『 地牢笑声 』将非iOS独占，
如果不移植其他平台我就
砍下自己的脑袋！
        </string>
		<string>
如果 iOS卖出 100 万，
我就头脚相倒！
        </string>
	</array>
	<array>
		<string>
这里没有奶牛关，但是这里有通关密语：
        </string>
		<string>
“All your base are belong to us！”
        </string>
	</array>
	<array>
		<string>
从前～～有一个游戏程序员，
他在游戏行业摸爬滚打了12年。
        </string>
		<string>
在心灰意冷之际，
不小心得到了一盏神灯，
然后他向神灯许愿：
        </string>
		<string>
“希望在有生之年能
开发出一款AAA级的产品！”
后来～～
        </string>
		<string>
后来他得了永生。
哦对了，这个程序员是中国人。
        </string>
	</array>
	<array>
		<string>
谜语二则，猜对有奖：
        </string>
		<string>
史上最强游戏，秒天秒地秒空气，
没有任何电脑能流畅运行！
打一国产游戏。
        </string>
		<string>
新一代学习游戏机顶盒～
打一主机。
        </string>
	</array>
	<array>
		<string>
《俄罗斯方块》告诉我们：
犯下的错误会积累，
获得的成功会消失。
        </string>
		<string>
《超级玛丽》告诉我们：
成功看的不是你跳得多高，
而要看你究竟跑得多远。
        </string>
		<string>
《魂斗罗》告诉我们：
阻止你前进的往往不是前方的敌人，
而是背后的黑枪！
        </string>
		<string>
《贪吃蛇》告诉我们：
打败自己的不是糖衣炮弹，
而是自己越来越长的身体，
自己才是最强大的敌人。
        </string>
		<string>
《雷电》告诉我们：
别人总以为你在打飞机，
其实你是在躲子弹。
        </string>
		<string>
《坦克大战》告诉我们：
别光想着打炮，
还要照顾好自己的鸟。
        </string>
	</array>
	<array>
		<string>
年轻人，我以前是一位
和你一样的冒险者，这不是盖的。
        </string>
		<string>
咦？为什么你老盯着我的膝盖看？
我的腿脚时不好，不过我没有中箭啦！
        </string>
		<string>
当初实验火焰魔法的时候
不小心把明斯克的仓鼠烤焦了，
他到现在还在找我呢，
所以我决定隐姓埋名了。
        </string>
	</array>
</array>
</plist>
