<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Developer website: www.tinyflare.com  QQ group: 485788362</string>
	<string>There are a lot of the easter eggs of classic dungeons in the game, to seriously explore.</string>
	<string>To equiped off-hand weapon can unlock the corresponding skills of the character.</string>
	<string>There are a lot of traps in the game scene, please pay attention to use the search function to find, use the interactive function to remove.</string>
	<string>In the BOSS room, the trap can&apos;t be removed.</string>
	<string>In addition to defeating monsters to gain experience, you can also gain experience by discovering hidden informations and removing traps.</string>
	<string>By increasing the magic find rate can  improve the magic items dropped channce.</string>
	<string>Poisoning and weak states can not automatically recovered.</string>
	<string>Destiny scroll will trigger a variety of effects, there are good and bad.</string>
	<string>You can bet with the &quot;little thief&quot; for luck, maybe you can get very good props.</string>
	<string>Missed information can be reviewed through the information bar.</string>
	<string>Often use interactive features you may find some hidden information from the game.</string>
	<string>You can come back to life by watching ads, which is the most effective way to support developers.</string>
	<string>If you think the game is not bad, please don&apos;t forget to rate on App Store.</string>
	<string>Note that when the map is opened, the game will not be paused.</string>
	<string>The quality of the items are represented by white green blue and purple.</string>
	<string>Subsequent versions are being developed, include new scenes and new props features</string>
	<string>Please note that make the maximum damage and the minimum damage a balanced development in order to ensure maximum attack power.</string>
	<string>Nearly a hundred kinds of achievements in the game waiting for you to challenge.</string>
	<string>Don&apos;t look down upon the elite monsters(green name) in the game.</string>
	<string>To keep carry the keys of chest, so as not to miss the chance to find good props.</string>
	<string>Game map is randomly generated, and there are a lot of hidden room, please note that.</string>
	<string>You can choose to use stealth potion or scroll of random teleport to help you out when encountering the siege.</string>
	<string>You can go back to the upper floor when you find that the monster in the dungeon is too powerful.</string>
	<string>Each new archive may start with a different dungeon.</string>
	<string>Click on the character profile image and backpack can open the information bar.</string>
	<string>The orange color progress bar on the bottom buttons represents the experience of your progress.</string>
	<string>To challenge higher levels of monsters can gain higher experience.</string>
	<string>Killed the monster that level lower than the player 5 or more will not gain experience.</string>
	<string>If you have any place to make you laugh in the process of playing the game, please laugh heartily, this is our desire to design the game at first.</string>
	<string>Maybe you don&apos;t understand the funny moments in the game, but you can use google.</string>
	<string>If you like the game, please join the official QQ group 485788362, your idea is likely to be added to the game&apos;s subsequent version.</string>
	<string>To improve light range properties of player allows you to see farther and more details.</string>
	<string>To improve the scope property of search can allow you to explore a wider range.</string>
	<string>To improve the block rate property can be more triggered by block, that can reduce damage by half.</string>
	<string>To improve the rate of critical strike can be more triggered by crit, that can double the damage.</string>
	<string>To improve the rate of dodge property can be more triggered by dodge, that can completely ignore the damage.</string>
	<string>When the off-hand weapon is shield can increase the block rate and defense.</string>
	<string>There is no classes in game, the skills dependent on the off-hand weapon.</string>
	<string>Open the backpack and the information bar can be suspended for the game, Don&apos;t worry about being attacked by monsters.</string>
	<string>In the main interface of the game, the potions shortcut button can be more effective for you to fight, please ensure that there is enough potions in the backpack.</string>
	<string>The same type of potion and scroll items can be superimposed, there is no limit to the number.</string>
	<string>No identification of props can not to be use, you need use the &quot;scroll of identify&quot; to identify.</string>
	<string>100 copper coins can be exchanged for one silver coin, 100 silver coins can be exchanged for one gold coin.</string>
	<string>No need items can be discard, discarded items will not be recovered.</string>
	<string>When the backpack space is not enough, you can use the backpack expansion function, the backpack can expand up for 4 times.</string>
	<string>A variety of items can be used to classify by the label under the backpack.</string>
	<string>Items that cannot be sold will not appear at the time of sale.</string>
	<string>The NPC &quot;Little Knight&quot; to sell a variety of weapons in the game.</string>
	<string>The NPC &quot;Alchemist&quot; to sell all kinds of potions, scrolls and keys in the game.</string>
	<string>The NPC &quot;Shopgirl&quot; sell all kinds of accessories and armor in the game.</string>
	<string>The jars in the game can be broken, there may be gold, props or monsters.</string>
	<string>The chests is divided into copper chest, silver chest and gold chest, the better quality the better props.</string>
	<string>When you find that there is no way to go, please pay attention to the surrounding walls, and there may be a door that is hidden on the wall.</string>
	<string>When you find a chest is not locked, you should pay attention to, it is very likely to be a trap.</string>
	<string>BOSS Fight is quite challenging, please have the enough strength to challenge, and prepare enough potions.</string>
	<string>When make a fighting with boss, the door will be locked, you can&apos;t escape.</string>
	<string>There are a lot of props reward in the boss room, but you need to beat the boss and get the room key from it.</string>
	<string>The portal in boss room will teleport you to the next dungeon.</string>
	<string>There is often a locked room in the dungeon, and the key is often obtained in this level floor.</string>
	<string>In Boss Fight floor can not be revived, then restart from the last upper floor.</string>
	<string>The program will save the game when switch the scene or player death, do not worry about losing game progress.</string>
	<string>This is not a real RougeLike game, the role of the property will be saved, but the map information will not.</string>
	<string>When encountered the abyss, the player can choose to jump, the good luck if you can go directly to the next floor, bad luck, you will be killed.</string>
	<string>When the props no need, it can be sold to NPC, which is a good way to make money.</string>
</array>
</plist>
