<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPLASH_RES</key>
	<string>splash_front_cn.png</string>
	<key>DEAD_RES</key>
	<string>ui_gameover_cn.png</string>
	<key>FONT_NAME</key>
	<string>ui_font.fnt</string>
	<key>PROP_SHOW_HP</key>
	<string>生命值：</string>
	<key>ROLE_SHOW_HP</key>
	<string>生命值：</string>
	<key>ROLE_SHOW_EXP</key>
	<string>经验值：</string>
	<key>PROP_SHOW_MP</key>
	<string>魔法值：</string>
	<key>ROLE_SHOW_MP</key>
	<string>魔法值：</string>
	<key>PROP_SHOW_LIGHT_DIS</key>
	<string>光照范围：</string>
	<key>PROP_SHOW_SEARCH_DIS</key>
	<string>侦查范围：</string>
	<key>PROP_SHOW_MARGIC_FIND</key>
	<string>取魔率：</string>
	<key>PROP_SHOW_CRITICAL_STRIKE</key>
	<string>暴击率：</string>
	<key>PROP_SHOW_BLOCK</key>
	<string>格挡率：</string>
	<key>PROP_SHOW_DODGE</key>
	<string>闪避率：</string>
	<key>PROP_SHOW_ATTACK</key>
	<string>攻击力：</string>
	<key>PROP_SHOW_DEFENSE</key>
	<string>防御力：</string>
	<key>STATUS_TEXT_DODGE</key>
	<string>闪避</string>
	<key>STATUS_TEXT_BOLOCK</key>
	<string>格挡 %d</string>
	<key>STATUS_TEXT_CRITICAL_STRIKE</key>
	<string>暴击 %d</string>
	<key>STATUS_TEXT_EXP</key>
	<string>经验增加 %d</string>
	<key>GAME_SERACH_EXPLAIN</key>
	<string>请点击屏幕位置查看</string>
	<key>GAME_MESSAGE_NOT</key>
	<string>欢迎来到%s第%d层</string>
	<key>GAME_MESSAGE_MONSTER_ATTACK</key>
	<string>怪物击中了你</string>
	<key>GAME_MESSAGE_MONSTER_DODGE</key>
	<string>怪物闪避了你的进攻</string>
	<key>GAME_MESSAGE_MONSTER_BOLOCK</key>
	<string>怪物格挡了你的攻击</string>
	<key>GAME_MESSAGE_MONSTER_CRITICAL_STRIKE</key>
	<string>怪物产生了一个暴击</string>
	<key>GAME_MESSAGE_MONSTER_DEAD</key>
	<string>你杀死了怪物</string>
	<key>GAME_MESSAGE_ROLE_ATTACK</key>
	<string>你击中了怪物</string>
	<key>GAME_MESSAGE_ROLE_DODGE</key>
	<string>你闪避了怪物的进攻</string>
	<key>GAME_MESSAGE_ROLE_BOLOCK</key>
	<string>你格挡了怪物的攻击</string>
	<key>GAME_MESSAGE_ROLE_CRITICAL_STRIKE</key>
	<string>你产生了一个暴击</string>
	<key>GAME_MESSAGE_ROLE_DEAD</key>
	<string>怪物杀死了你...</string>
	<key>GAME_MESSAGE_ROLE_ADD_EXP</key>
	<string>你获得了%s点经验</string>
	<key>GAME_MESSAGE_LEVEL_UP</key>
	<string>你升级了！！！</string>
	<key>MONSTER_ELITE_NAME</key>
	<string>精英%s</string>
	<key>EQUIP_PROP_ATTACK</key>
	<string>攻击力：%d-%d</string>
	<key>EQUIP_PROP_DEFENSE</key>
	<string>防御力：%d</string>
	<key>EQUIP_PROP_MIN_HURT</key>
	<string>+%d最小伤害</string>
	<key>EQUIP_PROP_MAX_HURT</key>
	<string>+%d最大伤害</string>
	<key>EQUIP_PROP_HP</key>
	<string>+%d生命值</string>
	<key>EQUIP_PROP_MP</key>
	<string>+%d魔法值</string>
	<key>EQUIP_PROP_BLOCK</key>
	<string>+%.1f%%格挡率</string>
	<key>EQUIP_PROP_CRITICAL_STRIKE</key>
	<string>+%.1f%%暴击率</string>
	<key>EQUIP_PROP_DODGE</key>
	<string>+%.1f%%闪避率</string>
	<key>EQUIP_PROP_MAGIC</key>
	<string>+%.1f%%基础取魔率增量</string>
	<key>EQUIP_PROP_SEQRCH</key>
	<string>+%d搜索范围</string>
	<key>EQUIP_PROP_LIGHT</key>
	<string>+%d光照范围</string>
	<key>ITEM_NOT_IDENTIFY</key>
	<string>未鉴定</string>
	<key>ITEM_ALREDY_EQUIP</key>
	<string>已装备</string>
	<key>ITEM_NOT_EQUIP</key>
	<string>不可装备</string>
	<key>ITEM_PROP_TYPE_KEY</key>
	<string>钥匙</string>
	<key>ITEM_PROP_TYPE_WEAPON</key>
	<string>武器</string>
	<key>ITEM_PROP_TYPE_SECOND_WEAPON</key>
	<string>副手武器</string>
	<key>ITEM_PROP_TYPE_ARMOR</key>
	<string>护甲</string>
	<key>ITEM_PROP_TYPE_MAGIC_ORNAMENT</key>
	<string>饰品</string>
	<key>ITEM_PROP_TYPE_SCROLL</key>
	<string>卷轴</string>
	<key>ITEM_PROP_TYPE_POTIONS</key>
	<string>药水</string>
	<key>ITEM_PROP_TYPE_MATERIAL</key>
	<string>宝石</string>
	<key>ITEM_PROP_TYPE_QUEST</key>
	<string>任务物品</string>
	<key>ITEM_PROP_TYPE_SUNDRIES</key>
	<string>杂物</string>
	<key>ITEM_MONEY_DESC</key>
	<string>出售：</string>
	<key>USE_POTION_TREAT</key>
	<string>使用治疗药水,恢复%dHP</string>
	<key>USE_POTION_MAGIC</key>
	<string>使用魔法药水,恢复%dMP</string>
	<key>USE_POTION_RECOVERY</key>
	<string>使用恢复药水,恢复%dHP,%dMP</string>
	<key>USE_POTION_RELIEVE</key>
	<string>使用解毒药水,中毒状态被清除了!</string>
	<key>USE_POTION_WEAK</key>
	<string>使用治愈药水,虚弱状态被清除了</string>
	<key>USE_POTION_SPECIFIC</key>
	<string>使用特效药水,冰冻、麻痹、着火状态被清除了</string>
	<key>USE_POTION_UNIVERSAL</key>
	<string>使用万能药水,状态全被清除了!</string>
	<key>USE_SCROLL_TELEPORT</key>
	<string>使用传送卷轴,你被传送到某个地方了！</string>
	<key>USE_SCROLL_SPEED</key>
	<string>使用速度卷轴,速度变快了!</string>
	<key>USE_SCROLL_STEALTH</key>
	<string>使用传隐身卷轴,你进入隐身状态！</string>
	<key>USE_SCROLL_DESTINY</key>
	<string>使用命运卷轴</string>
	<key>PLAYER_USE_GOLD_CHEST_KEY</key>
	<string>使用了金质钥匙！</string>
	<key>PLAYER_USE_SILVER_CHEST_KEY</key>
	<string>使用了银质钥匙！</string>
	<key>PLAYER_USE_COPPER_CHEST_KEY</key>
	<string>使用了铜质钥匙！</string>
	<key>PLAYER_USE_ROOM_KEY</key>
	<string>使用了房间钥匙！</string>
	<key>PLAYER_USE_BOSS_KEY</key>
	<string>使用了%s房间钥匙！</string>
	<key>DOOR_MAGIC_LOCKED</key>
	<string>门上有一股魔力，根本打不开！</string>
	<key>DOOR_MAGIC_CLOSED</key>
	<string>你身后的门被一股魔力关上了！</string>
	<key>FOUND_HIDDEN_DOOR</key>
	<string>发现了隐藏门！</string>
	<key>FOUND_HIDDEN_TOXIC_TRAP</key>
	<string>发现了隐藏的毒素机关！</string>
	<key>FOUND_HIDDEN_FIRE_TRAP</key>
	<string>发现了隐藏的火机关！</string>
	<key>FOUND_HIDDEN_PARALYTIC_TRAP</key>
	<string>发现了隐藏的麻痹机关！</string>
	<key>FOUND_HIDDEN_GRIPPING_TRAP</key>
	<string>发现了隐藏的夹子机关！</string>
	<key>FOUND_HIDDEN_SUMMONING_TRAP</key>
	<string>发现了隐藏的召唤机关！</string>
	<key>FOUND_HIDDEN_WEAK_TRAP</key>
	<string>发现了隐藏的虚弱机关！</string>
	<key>FOUND_HIDDEN_MSG</key>
	<string>发现了隐藏的一些信息！</string>
	<key>FOUND_HIDDEN_ITEM</key>
	<string>发现了隐藏的一件道具！</string>
	<key>PLAYER_NO_COPPER_KEY</key>
	<string>没有铜质钥匙！</string>
	<key>PLAYER_NO_SILVER_KEY</key>
	<string>没有银质钥匙！</string>
	<key>PLAYER_NO_GOLD_KEY</key>
	<string>没有金质钥匙！</string>
	<key>PLAYER_NO_ROOM_KEY</key>
	<string>没有房间钥匙！</string>
	<key>PLAYER_NO_BOSS_KEY</key>
	<string>没有%s房间钥匙！</string>
	<key>PLAYER_BAG_NO_SPACE</key>
	<string>背包没有空间了!!</string>
	<key>PLAYER_NO_MANA</key>
	<string>魔法值不够！！</string>
	<key>PLAYER_MONEY_NOT_ENOUGH</key>
	<string>货币不足！</string>
	<key>NOT_EQUIP_LEVEL_ENOUGH</key>
	<string>等级不足 !</string>
	<key>TRIGGER_TOXIC_TRAP</key>
	<string>你中毒了！</string>
	<key>TRIGGER_FIRE_TRAP</key>
	<string>你的身上着火了！</string>
	<key>TRIGGER_PARALYTIC_TRAP</key>
	<string>你被麻痹不能动了！</string>
	<key>TRIGGER_GRIPPING_TRAP</key>
	<string>你踩到一个夹子陷阱！</string>
	<key>TRIGGER_SUMMONING_TRAP</key>
	<string>啊！召唤陷阱，小心！</string>
	<key>TRIGGER_WEAK_TRAP</key>
	<string>你生病了, 能力降低了！</string>
	<key>TRIGGER_MESSAGE_FROSEN_TRAP</key>
	<string>你被冰冻了，你的速度降低！</string>
	<key>DESTINY_ADDMONEY</key>
	<string>当你展开卷轴时，有东西砸到了你头上，定睛一看原来是一包钱币。</string>
	<key>DESTINY_TRANSPORT</key>
	<string>你感觉一阵昏迷，恍惚之间好像有人拖拽你行走了一段距离。</string>
	<key>DESTINY_STRONGER</key>
	<string>超级赛亚人变身～</string>
	<key>DESTINY_STEALTH</key>
	<string>卷轴上写着一句话：你要学会躲在阴影里。</string>
	<key>DESTINY_SPEEDUP</key>
	<string>啊！这是什么，开挂了吗？</string>
	<key>DESTINY_POISIONING</key>
	<string>shit！卷轴上有屎，屎里有毒～</string>
	<key>DESTINY_FIRE</key>
	<string>当你打开“卷轴”时，卷轴着起火来～这哪是卷轴，分明是卷白磷纸。</string>
	<key>DESTINY_FROZEN</key>
	<string>他的剑是冷的,他的刀也是冷的,他的心是冷的,他的血是冷的～～</string>
	<key>DESTINY_WEAK</key>
	<string>你变的虚弱了，不是早就说过黄色的卷轴和风月宝鉴都要远离吗！</string>
	<key>LITTLEWITCH_ADDMONEY</key>
	<string>今天魔法使用过度了，想休息一天，送你1枚金币作为补偿吧。</string>
	<key>LITTLEWITCH_ADDPOTION</key>
	<string>魔法药剂是一个魔法师的必备，今天只随身携带了1瓶送给你吧！</string>
	<key>LITTLEWITCH_ADDSCROLL</key>
	<string>这是我抄写的魔法卷轴，送给你！</string>
	<key>LITTLEWITCH_SUMMONMONSTER</key>
	<string>哎呀，施法失败，召唤出了怪物，我好怕！我要先走一步了。</string>
	<key>LITTLEWITCH_WEAK</key>
	<string>哎呀，施法失败了，给你带来了负面影响真是不好意思。</string>
	<key>NPC_KNIGHT_ANSWER</key>
	<string>武器店</string>
	<key>NPC_CHILD_ANSWER</key>
	<string>任务</string>
	<key>NPC_SHOPGIRL_ANSWER</key>
	<string>防具店</string>
	<key>NPC_OLDLADY_ANSWER</key>
	<string>杂货店</string>
	<key>NPC_WEIRDO_ANSWER</key>
	<string>黑市</string>
	<key>NPC_OLDMAN_ANSWER</key>
	<string>智者</string>
	<key>NPC_LITTLEWITCH_ANSWER</key>
	<string>见习魔女</string>
	<key>NPC_NURSE_ANSWER</key>
	<string>小护士</string>
	<key>ITEM_SPLITE_COUNT</key>
	<string>数量：%d</string>
	<key>ITEM_BAG_DELETE</key>
	<string>珍贵物品,是否丢弃该道具？</string>
	<key>ITEM_BAG_SELL</key>
	<string>珍贵物品,是否出售该道具？</string>
	<key>TITLE_ACHIEVE</key>
	<string>成就</string>
	<key>PLAYER_FALL_AND_DIE</key>
	<string>很不幸，但你并不是第一个这样死的冒险者^_^。</string>
	<key>GO_UPSTAIRS</key>
	<string>你进入了上一层。</string>
	<key>GO_UPSTAIRS_FORBIDDEN</key>
	<string>传送阵已经没有能量了～</string>
	<key>GO_DOWNSTAIRS</key>
	<string>你进入了下一层。</string>
	<key>GO_BOSSROOM</key>
	<string>进入Boos房间</string>
	<key>GO_CHASM</key>
	<string>你真的要跳下去么？</string>
	<key>FALL_DOWNSTAIRS</key>
	<string>高空坠落，不死是非常幸运的。</string>
	<key>SELECT_LEFT_DUNGEON_NODE</key>
	<string>确定选择这个地牢传送门吗？</string>
	<key>SELECT_RIGHT_DUNGEON_NODE</key>
	<string>确定选择这个地牢传送门吗？</string>
	<key>USE_SMALL_PROTAL</key>
	<string>你被传送了</string>
	<key>STANDARD_PROTAL_NO_ENERGY</key>
	<string>传送能量不足了</string>
	<key>REMOVE_TRAP_INFO</key>
	<string>是否拆除该陷阱？</string>
	<key>NOT_REMOVE_TRAP</key>
	<string>该陷阱不能被拆除.</string>
	<key>BTN_TEXT_MAINMENU</key>
	<string>主菜单</string>
	<key>BTN_TEXT_SETTING</key>
	<string>设置</string>
	<key>BTN_TEXT_EXITGAME</key>
	<string>退出游戏</string>
	<key>BTN_TEXT_DISCARD</key>
	<string>丢弃</string>
	<key>BTN_TEXT_EQUIP</key>
	<string>装备</string>
	<key>BTN_TEXT_INDENTIFY</key>
	<string>鉴定</string>
	<key>BTN_TEXT_RESTART</key>
	<string>重新开始</string>
	<key>BTN_TEXT_OK</key>
	<string>确定</string>
	<key>BTN_TEXT_CANCEL</key>
	<string>取消</string>
	<key>BTN_TEXT_SELL</key>
	<string>出售</string>
	<key>BTN_TEXT_BUY</key>
	<string>购买</string>
	<key>BTN_TEXT_USE</key>
	<string>使用</string>
	<key>BTN_TEXT_HELP</key>
	<string>帮助</string>
	<key>BTN_TEXT_SOUND</key>
	<string>音效:</string>
	<key>BTN_TEXT_MUSIC</key>
	<string>音乐:</string>
	<key>BTN_TEXT_NEW_GAME</key>
	<string>新的游戏</string>
	<key>BTN_TEXT_CONTINUE_GAME</key>
	<string>继续游戏</string>
	<key>BTN_TEXT_RESTART_GAME</key>
	<string>重新开始</string>
	<key>BTN_TEXT_REVIVE</key>
	<string>复活</string>
	<key>BTN_TEXT_ADA_REVIVE</key>
	<string>观看
复活</string>
	<key>BAG_INDENTIFY_FAIL</key>
	<string>鉴定失败！</string>
	<key>BAG_NO_INDENTIFY_SCROLL</key>
	<string>鉴定失败！没有可用的鉴定卷轴。</string>
	<key>BAG_TEXT_DESTROY</key>
	<string>拆除</string>
	<key>BAG_TEXT_EXTEND</key>
	<string>扩展</string>
	<key>BAG_TEXT_EXTEND_DESC</key>
	<string>是否花费%d金币扩展背包?</string>
	<key>ARCHIVE_RESTART_TIPS_DESC</key>
	<string>重新开始会清除游戏记录,是否重新开始游戏？</string>
	<key>ACHIEVE_ITEM_LOCK</key>
	<string>未解锁</string>
	<key>ITEM_USE_FAIL</key>
	<string>使用失败!</string>
	<key>ITEM_EQUIP_FAIL</key>
	<string>装备失败！</string>
	<key>ITEM_DISCARD_FAIL</key>
	<string>丢弃失败！</string>
	<key>GAME_INFO_FLOOR</key>
	<string>%s %d层</string>
	<key>SKILL_TIP_NOT_EQUIP</key>
	<string>请装备副手武器！</string>
	<key>SKILL_TIP_SKILL_COOLING</key>
	<string>技能冷却中!</string>
	<key>SKILL_TIP_POTION_COOLING</key>
	<string>药水冷却中!</string>
	<key>SKILL_TIP_NOT_BLOOD_POTION</key>
	<string>没有恢复药水了!</string>
	<key>SKILL_TIP_NOT_MAGIC_POTION</key>
	<string>没有魔法药水了!</string>
	<key>LOAGING_TIPS</key>
	<string>提示:</string>
	<key>PLAYER_BAG_EXTEND_OK</key>
	<string>恭喜背包扩展成功!</string>
	<key>PLAYER_BAG_EXTEND_HAS_REACH_MAXTIMES</key>
	<string>抱歉,背包扩展次数已达到上限了!</string>
</dict>
</plist>
