<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROP_SHOW_HP</key>
	<string>生命值：%d</string>
	<key>ROLE_SHOW_HP</key>
	<string>生命值：%d/%d</string>
	<key>ROLE_SHOW_EXP</key>
	<string>经验值：%d/%d</string>
	<key>PROP_SHOW_MP</key>
	<string>魔法值：%d</string>
	<key>ROLE_SHOW_MP</key>
	<string>魔法值：%d/%d</string>
	<key>PROP_SHOW_LIGHT_DIS</key>
	<string>光照范围：%d</string>
	<key>PROP_SHOW_SEARCH_DIS</key>
	<string>侦查范围：%d</string>
	<key>PROP_SHOW_MARGIC_FIND</key>
	<string>取魔率：%d%%</string>
	<key>PROP_SHOW_CRITICAL_STRIKE</key>
	<string>暴击率：%d%%</string>
	<key>PROP_SHOW_BLOCK</key>
	<string>格挡率：%d%%</string>
	<key>PROP_SHOW_DODGE</key>
	<string>闪避率：%d%%</string>
	<key>PROP_SHOW_ATTACK</key>
	<string>攻击力：%d-%d</string>
	<key>PROP_SHOW_DEFENSE</key>
	<string>防御力：%d</string>
	<key>STATUS_TEXT_DODGE</key>
	<string>闪避</string>
	<key>STATUS_TEXT_BOLOCK</key>
	<string>格挡 %d</string>
	<key>STATUS_TEXT_CRITICAL_STRIKE</key>
	<string>暴击 %d</string>
	<key>STATUS_TEXT_EXP</key>
	<string>+经验 %d</string>
	<key>GAME_SERACH_EXPLAIN</key>
	<string>请选择一个方块</string>
	<key>GAME_MESSAGE_NOT</key>
	<string>欢迎来到像素的%s第%d层</string>
	<key>GAME_MESSAGE_MONSTER_ATTACK</key>
	<string>%s击中了你</string>
	<key>GAME_MESSAGE_MONSTER_DODGE</key>
	<string>%s闪避了你的进攻</string>
	<key>GAME_MESSAGE_MONSTER_BOLOCK</key>
	<string>%s产生了一个格挡</string>
	<key>GAME_MESSAGE_MONSTER_CRITICAL_STRIKE</key>
	<string>%s产生了一个暴击</string>
	<key>GAME_MESSAGE_MONSTER_DEAD</key>
	<string>你击败了%s</string>
	<key>GAME_MESSAGE_ROLE_ATTACK</key>
	<string>你击中了%s</string>
	<key>GAME_MESSAGE_ROLE_DODGE</key>
	<string>你闪避了%s的进攻</string>
	<key>GAME_MESSAGE_ROLE_BOLOCK</key>
	<string>你产生了一个格挡</string>
	<key>GAME_MESSAGE_ROLE_CRITICAL_STRIKE</key>
	<string>你产生了一个暴击</string>
	<key>GAME_MESSAGE_ROLE_DEAD</key>
	<string>%s杀死了你...</string>
	<key>GAME_MESSAGE_ROLE_OBTAIN_ITEM</key>
	<string>你获得了%s</string>
	<key>GAME_MESSAGE_LEVEL_UP</key>
	<string>你升级了！！！</string>
	<key>MONSTER_ELITE_NAME</key>
	<string>精英%s</string>
	<key>EQUIP_PROP_ATTACK</key>
	<string>攻击力：%d-%d</string>
	<key>EQUIP_PROP_DEFENSE</key>
	<string>防御力：%d</string>
	<key>EQUIP_PROP_MIN_HURT</key>
	<string>+%d最小伤害</string>
	<key>EQUIP_PROP_MAX_HURT</key>
	<string>+%d最大伤害</string>
	<key>EQUIP_PROP_HP</key>
	<string>+%d生命值</string>
	<key>EQUIP_PROP_MP</key>
	<string>+%d魔法值</string>
	<key>EQUIP_PROP_BLOCK</key>
	<string>+%d%%格挡率</string>
	<key>EQUIP_PROP_CRITICAL_STRIKE</key>
	<string>+%d%%暴击率</string>
	<key>EQUIP_PROP_DODGE</key>
	<string>+%d%%闪避率</string>
	<key>EQUIP_PROP_MAGIC</key>
	<string>+%d%%基础取魔率增量</string>
	<key>EQUIP_PROP_SEQRCH</key>
	<string>+%d搜索范围</string>
	<key>EQUIP_PROP_LIGHT</key>
	<string>+%d光照范围</string>
	<key>ITEM_NOT_IDENTIFY</key>
	<string>未鉴定</string>
	<key>ITEM_ALREDY_EQUIP</key>
	<string>已装备</string>
	<key>ITEM_NOT_EQUIP</key>
	<string>不可装备</string>
	<key>ITEM_PROP_TYPE_KEY</key>
	<string>钥匙</string>
	<key>ITEM_PROP_TYPE_WEAPON</key>
	<string>武器</string>
	<key>ITEM_PROP_TYPE_SECOND_WEAPON</key>
	<string>副手武器</string>
	<key>ITEM_PROP_TYPE_ARMOR</key>
	<string>护甲</string>
	<key>ITEM_PROP_TYPE_MAGIC_ORNAMENT</key>
	<string>饰品</string>
	<key>ITEM_PROP_TYPE_SCROLL</key>
	<string>卷轴</string>
	<key>ITEM_PROP_TYPE_POTIONS</key>
	<string>药水</string>
	<key>ITEM_PROP_TYPE_MATERIAL</key>
	<string>宝石</string>
	<key>ITEM_PROP_TYPE_QUEST</key>
	<string>任务物品</string>
	<key>ITEM_PROP_TYPE_SUNDRIES</key>
	<string>杂物</string>
	<key>ITEM_MONEY_DESC</key>
	<string>出售：</string>
	<key>USE_POTION_TREAT</key>
	<string>+%d HP</string>
	<key>USE_POTION_MAGIC</key>
	<string>+%d MP</string>
	<key>USE_POTION_RELIEVE</key>
	<string>中毒状态被解除了!</string>
	<key>USE_POTION_WEAK</key>
	<string>虚弱状态被解除了!</string>
	<key>USE_POTION_SPECIFIC</key>
	<string>使用特性药水,部分状态被解除了!</string>
	<key>USE_POTION_UNIVERSAL</key>
	<string>使用特性药水,状态全恢复了!</string>
	<key>FOUND_HIDDER_DOOR</key>
	<string>发现了隐藏门！</string>
	<key>FOUND_HIDDER_TRAP_TOXIC</key>
	<string>发现了隐藏的中毒机关！</string>
	<key>FOUND_HIDDER_TRAP_FIRE</key>
	<string>发现了隐藏的火机关！</string>
	<key>FOUND_HIDDER_TRAP_PARALYIC</key>
	<string>发现了隐藏的麻痹机关！</string>
	<key>FOUND_HIDDER_TRAP_GRIPPING</key>
	<string>发现了隐藏的夹子机关！</string>
	<key>FOUND_HIDDER_TRAP_SUMMONING</key>
	<string>发现了隐藏的召唤机关！</string>
	<key>FOUND_HIDDER_TRAP_WEAK</key>
	<string>发现了隐藏的虚弱机关！</string>
	<key>FOUND_HIDDER_TRAP_MSG</key>
	<string>发现了隐藏的消息！</string>
	<key>FOUND_HIDDER_TRAP_ITEM</key>
	<string>发现了隐藏的道具！</string>
	<key>NOT_HAVE_COPPER_KEY</key>
	<string>没有铜钥匙！</string>
	<key>NOT_HAVE_SILVER_KEY</key>
	<string>没有银钥匙！</string>
	<key>NOT_HAVE_GOLD_KEY</key>
	<string>没有金钥匙！</string>
	<key>NOT_HAVE_ROOM_KEY</key>
	<string>没有房间钥匙！</string>
	<key>NOT_HAVE_BOOS_KEY</key>
	<string>没有Boss钥匙！</string>
	<key>NOT_HAVE_BAG_SPACE</key>
	<string>背包没有空间了!!</string>
	<key>NOT_HAVA_MARGIC_VALUE</key>
	<string>魔法值不够！！</string>
	<key>NOT_HAVA_COIN_VALUE</key>
	<string>货币不足！</string>
	<key>NOT_EQUIP_LEVEL_ENOUGH</key>
	<string>等级不足 !</string>
	<key>TRIGGER_MESSAGE_TOXIC_TRAP</key>
	<string>你中毒了！</string>
	<key>TRIGGER_MESSAGE_FIRE_TRAP</key>
	<string>你的身上着火了！</string>
	<key>TRIGGER_MESSAGE_PARALYTIC_TRAP</key>
	<string>你被麻痹不能动了！</string>
	<key>TRIGGER_MESSAGE_GRIPPING_TRAP</key>
	<string>你踩到一个夹子陷阱！</string>
	<key>TRIGGER_MESSAGE_SUMMONING_TRAP</key>
	<string>啊！召唤陷阱，小心！</string>
	<key>TRIGGER_MESSAGE_WEAK_TRAP</key>
	<string>你生病了, 能力降低了！</string>
	<key>SHOP_TITLE_WEAPON</key>
	<string>武器店</string>
	<key>SHOP_TITLE_MAGIC</key>
	<string>魔法物品店</string>
	<key>SHOP_TITLE_GAMBLE</key>
	<string>赌场</string>
	<key>SHOP_TITLE_ALCHEMY</key>
	<string>炼金店</string>
	<key>PAUSE_BTN_MAIN_MENU</key>
	<string>btn_mainmenu_ch.png</string>
	<key>PAUSE_BTN_SETTING</key>
	<string>btn_setting_ch.png</string>
	<key>PAUSE_BTN_EXIT_GAME</key>
	<string>btn_exit_ch.png</string>
	<key>ITEM_SPLITE_COUNT</key>
	<string>数量：%d</string>
	<key>SHOP_BTN_FRAME_BUY_NORMAL</key>
	<string>btn_fram_buy_normal_ch.png</string>
	<key>SHOP_BTN_FRAME_BUY_PRESS</key>
	<string>btn_fram_buy_press_ch.png</string>
	<key>SHOP_BTN_FRAME_SELL_NORMAL</key>
	<string>btn_fram_sell_normal_ch.png</string>
	<key>SHOP_BTN_FRAME_SELL_PRESS</key>
	<string>btn_fram_sell_press_ch.png</string>
</dict>
</plist>
