<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPLASH_RES</key>
	<string>splash_front_en.png</string>
	<key>DEAD_RES</key>
	<string>ui_gameover_en.png</string>
	<key>FONT_NAME</key>
	<string>ui_font.fnt</string>
	<key>PROP_SHOW_HP</key>
	<string>HP:</string>
	<key>ROLE_SHOW_HP</key>
	<string>HP:</string>
	<key>ROLE_SHOW_EXP</key>
	<string>EXP:</string>
	<key>PROP_SHOW_MP</key>
	<string>MP:</string>
	<key>ROLE_SHOW_MP</key>
	<string>MP:</string>
	<key>PROP_SHOW_LIGHT_DIS</key>
	<string>Light Scope:</string>
	<key>PROP_SHOW_SEARCH_DIS</key>
	<string>Search Scope:</string>
	<key>PROP_SHOW_MARGIC_FIND</key>
	<string>MF:</string>
	<key>PROP_SHOW_CRITICAL_STRIKE</key>
	<string>Crit Rate:</string>
	<key>PROP_SHOW_BLOCK</key>
	<string>Blocked Rate:</string>
	<key>PROP_SHOW_DODGE</key>
	<string>Dodge Rate:</string>
	<key>PROP_SHOW_ATTACK</key>
	<string>Attack:</string>
	<key>PROP_SHOW_DEFENSE</key>
	<string>Defense:</string>
	<key>STATUS_TEXT_DODGE</key>
	<string>Dogded</string>
	<key>STATUS_TEXT_BOLOCK</key>
	<string>Blocked %d</string>
	<key>STATUS_TEXT_CRITICAL_STRIKE</key>
	<string>Cirted %d</string>
	<key>STATUS_TEXT_EXP</key>
	<string>Exp added %d</string>
	<key>GAME_SERACH_EXPLAIN</key>
	<string>Please tap the screen to check.</string>
	<key>GAME_MESSAGE_NOT</key>
	<string>Welcome to the %s floor of %s.</string>
	<key>GAME_MESSAGE_MONSTER_ATTACK</key>
	<string>The monster hit you.</string>
	<key>GAME_MESSAGE_MONSTER_DODGE</key>
	<string>The monster dodged your attack</string>
	<key>GAME_MESSAGE_MONSTER_BOLOCK</key>
	<string>The monster blocked your attack.</string>
	<key>GAME_MESSAGE_MONSTER_CRITICAL_STRIKE</key>
	<string>The monster generated a critical strike.</string>
	<key>GAME_MESSAGE_MONSTER_DEAD</key>
	<string>You killed the monster.</string>
	<key>GAME_MESSAGE_ROLE_ATTACK</key>
	<string>You hit the monster.</string>
	<key>GAME_MESSAGE_ROLE_DODGE</key>
	<string>You dodged the monster&apos;s attack.</string>
	<key>GAME_MESSAGE_ROLE_BOLOCK</key>
	<string>You blocked the monster&apos;s attack.</string>
	<key>GAME_MESSAGE_ROLE_CRITICAL_STRIKE</key>
	<string>You generated a critical strike.</string>
	<key>GAME_MESSAGE_ROLE_DEAD</key>
	<string>You&apos;re dead.</string>
	<key>GAME_MESSAGE_ROLE_ADD_EXP</key>
	<string>Your exp added %s.</string>
	<key>GAME_MESSAGE_LEVEL_UP</key>
	<string>Level up!!!</string>
	<key>MONSTER_ELITE_NAME</key>
	<string>Elite %s</string>
	<key>EQUIP_PROP_ATTACK</key>
	<string>Attack:%d-%d</string>
	<key>EQUIP_PROP_DEFENSE</key>
	<string>Defense:%d</string>
	<key>EQUIP_PROP_MIN_HURT</key>
	<string>+%d Minimum Damage</string>
	<key>EQUIP_PROP_MAX_HURT</key>
	<string>+%d Maximum Damage</string>
	<key>EQUIP_PROP_HP</key>
	<string>+%d HP</string>
	<key>EQUIP_PROP_MP</key>
	<string>+%d MP</string>
	<key>EQUIP_PROP_BLOCK</key>
	<string>+%.1f%% Block Rate</string>
	<key>EQUIP_PROP_CRITICAL_STRIKE</key>
	<string>+%.1f%% Critical Strike Rate</string>
	<key>EQUIP_PROP_DODGE</key>
	<string>+%.1f%% Dodge Rate</string>
	<key>EQUIP_PROP_MAGIC</key>
	<string>+%.1f%% Magic Find Rate</string>
	<key>EQUIP_PROP_SEQRCH</key>
	<string>+%d Search Scope</string>
	<key>EQUIP_PROP_LIGHT</key>
	<string>+%d Light Scope</string>
	<key>ITEM_NOT_IDENTIFY</key>
	<string>Not identified</string>
	<key>ITEM_ALREDY_EQUIP</key>
	<string>Equipped</string>
	<key>ITEM_NOT_EQUIP</key>
	<string>Unavaliable</string>
	<key>ITEM_PROP_TYPE_KEY</key>
	<string>Key</string>
	<key>ITEM_PROP_TYPE_WEAPON</key>
	<string>Weapon</string>
	<key>ITEM_PROP_TYPE_SECOND_WEAPON</key>
	<string>Off-hand Weapon</string>
	<key>ITEM_PROP_TYPE_ARMOR</key>
	<string>Armor</string>
	<key>ITEM_PROP_TYPE_MAGIC_ORNAMENT</key>
	<string>Accessory</string>
	<key>ITEM_PROP_TYPE_SCROLL</key>
	<string>Scroll</string>
	<key>ITEM_PROP_TYPE_POTIONS</key>
	<string>Potion</string>
	<key>ITEM_PROP_TYPE_MATERIAL</key>
	<string>Material</string>
	<key>ITEM_PROP_TYPE_QUEST</key>
	<string>Quest</string>
	<key>ITEM_PROP_TYPE_SUNDRIES</key>
	<string>Sundries</string>
	<key>ITEM_MONEY_DESC</key>
	<string>Selling price:</string>
	<key>USE_POTION_TREAT</key>
	<string>Used health potion. Recovered %d health points.</string>
	<key>USE_POTION_MAGIC</key>
	<string>Used mana potion. Recovered %d mana points.</string>
	<key>USE_POTION_RECOVERY</key>
	<string>Used recovery potion. Recovered %d health points and %d mana points.</string>
	<key>USE_POTION_RELIEVE</key>
	<string>Used detoxification potion, the poisoning status was cleared.</string>
	<key>USE_POTION_WEAK</key>
	<string>Used healing potion, the weak status was cleared.</string>
	<key>USE_POTION_SPECIFIC</key>
	<string>Used specific potion, the freezing, burning and paralysis status was cleared.</string>
	<key>USE_POTION_UNIVERSAL</key>
	<string>Used universal potion, All abnormal status were cleared.</string>
	<key>USE_SCROLL_TELEPORT</key>
	<string>Used the scroll of random teleport.</string>
	<key>USE_SCROLL_SPEED</key>
	<string>Used the scroll of speed.</string>
	<key>USE_SCROLL_STEALTH</key>
	<string>Used the scroll of stealth.</string>
	<key>USE_SCROLL_DESTINY</key>
	<string>Used the scroll of destiny.</string>
	<key>PLAYER_USE_GOLD_CHEST_KEY</key>
	<string>Used the gold key.</string>
	<key>PLAYER_USE_SILVER_CHEST_KEY</key>
	<string>Used the silver key.</string>
	<key>PLAYER_USE_COPPER_CHEST_KEY</key>
	<string>Used the copper key.</string>
	<key>PLAYER_USE_ROOM_KEY</key>
	<string>Used the room key.</string>
	<key>PLAYER_USE_BOSS_KEY</key>
	<string>Used the key of %s.</string>
	<key>DOOR_MAGIC_LOCKED</key>
	<string>A magical power on the door that can&apos;t be opened!</string>
	<key>DOOR_MAGIC_CLOSED</key>
	<string>The door behind you is closed by a spell!</string>
	<key>FOUND_HIDDEN_DOOR</key>
	<string>Found a hidden door!</string>
	<key>FOUND_HIDDEN_TOXIC_TRAP</key>
	<string>Found a hidden toxic trap!</string>
	<key>FOUND_HIDDEN_FIRE_TRAP</key>
	<string>Found a hidden fire trap!</string>
	<key>FOUND_HIDDEN_PARALYTIC_TRAP</key>
	<string>Found a hidden paralysis trap!</string>
	<key>FOUND_HIDDEN_GRIPPING_TRAP</key>
	<string>Found a hidden gripping trap!</string>
	<key>FOUND_HIDDEN_SUMMONING_TRAP</key>
	<string>Found a hidden summoning trap!</string>
	<key>FOUND_HIDDEN_WEAK_TRAP</key>
	<string>Found a hidden weak trap!</string>
	<key>FOUND_HIDDEN_MSG</key>
	<string>Found a hidden information!</string>
	<key>FOUND_HIDDEN_ITEM</key>
	<string>Found a hidden prop!</string>
	<key>PLAYER_NO_COPPER_KEY</key>
	<string>No copper key!</string>
	<key>PLAYER_NO_SILVER_KEY</key>
	<string>No silver key!</string>
	<key>PLAYER_NO_GOLD_KEY</key>
	<string>No gold key!</string>
	<key>PLAYER_NO_ROOM_KEY</key>
	<string>No room key!</string>
	<key>PLAYER_NO_BOSS_KEY</key>
	<string>No %s&apos;s room key!</string>
	<key>PLAYER_BAG_NO_SPACE</key>
	<string>The backpack is full.</string>
	<key>PLAYER_NO_MANA</key>
	<string>Not enough mana!</string>
	<key>PLAYER_MONEY_NOT_ENOUGH</key>
	<string>Not enough money!</string>
	<key>NOT_EQUIP_LEVEL_ENOUGH</key>
	<string>Level is not enough!</string>
	<key>TRIGGER_TOXIC_TRAP</key>
	<string>You&apos;re poisoned!</string>
	<key>TRIGGER_FIRE_TRAP</key>
	<string>You&apos;re on fire!</string>
	<key>TRIGGER_PARALYTIC_TRAP</key>
	<string>You&apos;re paralyzed!</string>
	<key>TRIGGER_GRIPPING_TRAP</key>
	<string>You steped onto a gripping trap!</string>
	<key>TRIGGER_SUMMONING_TRAP</key>
	<string>Ah! Summon trap, be careful!</string>
	<key>TRIGGER_WEAK_TRAP</key>
	<string>You&apos;re sick, your ability is reduced!</string>
	<key>TRIGGER_MESSAGE_FROSEN_TRAP</key>
	<string>You&apos;re frozen, your speed is reduced!</string>
	<key>DESTINY_ADDMONEY</key>
	<string>When you open the scroll, something hit on your head,  that is a pack of coins.</string>
	<key>DESTINY_TRANSPORT</key>
	<string>You were in a coma for quite a while, Absentminded, Someone dragged you out of a distance.</string>
	<key>DESTINY_STRONGER</key>
	<string>Super Saiyan! Switcheroo!</string>
	<key>DESTINY_STEALTH</key>
	<string>There is some words on the scroll: You must learn to hide in the shadows.</string>
	<key>DESTINY_SPEEDUP</key>
	<string>Oh, Opened cheating programs?</string>
	<key>DESTINY_POISIONING</key>
	<string>Oh, Shit! Poisonous to the scrolls</string>
	<key>DESTINY_FIRE</key>
	<string>When you open the scroll, the scroll is on fire. You&apos;re on fire too.</string>
	<key>DESTINY_FROZEN</key>
	<string>Your sword is cold, Your heart is cold, Your blood is cold ~ ~ ~You&apos;re frozen.</string>
	<key>DESTINY_WEAK</key>
	<string>You become weak, Keep yellow scrolls and &quot;PlayBoy&quot; away from you!</string>
	<key>LITTLEWITCH_ADDMONEY</key>
	<string>I&apos;m tired, take a break today，So give you 1 gold coins for compensation.</string>
	<key>LITTLEWITCH_ADDPOTION</key>
	<string>Magic potion is  necessary for a wizard, I had only one today, return to you!</string>
	<key>LITTLEWITCH_ADDSCROLL</key>
	<string>This is a magic scroll I copied, return to you!</string>
	<key>LITTLEWITCH_SUMMONMONSTER</key>
	<string>Ah, spells fizzled, some monster was summoned, I am afraid! I&apos;ve got to go now.</string>
	<key>LITTLEWITCH_WEAK</key>
	<string>Ah, spells fizzled, to bring you a negative impact is really embarrassed.</string>
	<key>NPC_KNIGHT_ANSWER</key>
	<string>Weapons Shop</string>
	<key>NPC_CHILD_ANSWER</key>
	<string>Tasks</string>
	<key>NPC_SHOPGIRL_ANSWER</key>
	<string>Armor shop</string>
	<key>NPC_OLDLADY_ANSWER</key>
	<string>Drugstore</string>
	<key>NPC_WEIRDO_ANSWER</key>
	<string>Blackmarket</string>
	<key>NPC_OLDMAN_ANSWER</key>
	<string>Sage</string>
	<key>NPC_LITTLEWITCH_ANSWER</key>
	<string>Little Witch</string>
	<key>NPC_NURSE_ANSWER</key>
	<string>Nurse</string>
	<key>ITEM_SPLITE_COUNT</key>
	<string>Count:%d</string>
	<key>ITEM_BAG_DELETE</key>
	<string>Precious goods, whether or not to remove?</string>
	<key>ITEM_BAG_SELL</key>
	<string>Precious goods, whether or not to sell?</string>
	<key>TITLE_ACHIEVE</key>
	<string>ACHIEVEMENT</string>
	<key>PLAYER_FALL_AND_DIE</key>
	<string>Unfortunately, but you are not the first such dead adventurers ^_^.</string>
	<key>GO_UPSTAIRS</key>
	<string>Do you want to go upstairs?</string>
	<key>GO_UPSTAIRS_FORBIDDEN</key>
	<string>The portal has no energy.</string>
	<key>GO_DOWNSTAIRS</key>
	<string>Do you want to go downstairs?</string>
	<key>GO_BOSSROOM</key>
	<string>Do you want to enter into the boss room?</string>
	<key>GO_CHASM</key>
	<string>Do you really want to jump?</string>
	<key>FALL_DOWNSTAIRS</key>
	<string>Falling from the abyss, it&apos;s very lucky no to die.</string>
	<key>SELECT_LEFT_DUNGEON_NODE</key>
	<string>Are you sure to choose this portal?</string>
	<key>SELECT_RIGHT_DUNGEON_NODE</key>
	<string>Are you sure to choose this portal?</string>
	<key>USE_SMALL_PROTAL</key>
	<string>You&apos;ve been teleported!</string>
	<key>STANDARD_PROTAL_NO_ENERGY</key>
	<string>Not enough energy</string>
	<key>REMOVE_TRAP_INFO</key>
	<string>Whether to dismantle the trap?</string>
	<key>NOT_REMOVE_TRAP</key>
	<string>The trap can not be removed.</string>
	<key>BTN_TEXT_MAINMENU</key>
	<string>MAIN MENU</string>
	<key>BTN_TEXT_SETTING</key>
	<string>SETTING</string>
	<key>BTN_TEXT_EXITGAME</key>
	<string>EXIT GAME</string>
	<key>BTN_TEXT_DISCARD</key>
	<string>DISCARD</string>
	<key>BTN_TEXT_EQUIP</key>
	<string>EQUIP</string>
	<key>BTN_TEXT_INDENTIFY</key>
	<string>INDENTIFY</string>
	<key>BTN_TEXT_RESTART</key>
	<string>RESTART</string>
	<key>BTN_TEXT_OK</key>
	<string>OK</string>
	<key>BTN_TEXT_CANCEL</key>
	<string>CANCEL</string>
	<key>BTN_TEXT_SELL</key>
	<string>SELL</string>
	<key>BTN_TEXT_BUY</key>
	<string>BUY</string>
	<key>BTN_TEXT_USE</key>
	<string>USE</string>
	<key>BTN_TEXT_HELP</key>
	<string>HELP</string>
	<key>BTN_TEXT_SOUND</key>
	<string>SOUND:</string>
	<key>BTN_TEXT_MUSIC</key>
	<string>MUSIC:</string>
	<key>BTN_TEXT_NEW_GAME</key>
	<string>NEW GAME</string>
	<key>BTN_TEXT_CONTINUE_GAME</key>
	<string>CONTINUE</string>
	<key>BTN_TEXT_RESTART_GAME</key>
	<string>RESTART</string>
	<key>BTN_TEXT_REVIVE</key>
	<string>REVIVE</string>
	<key>BTN_TEXT_ADA_REVIVE</key>
	<string>REVIVE</string>
	<key>BAG_INDENTIFY_FAIL</key>
	<string>Indentified failed！</string>
	<key>BAG_NO_INDENTIFY_SCROLL</key>
	<string>Indentified failed！ No identification scroll available.</string>
	<key>BAG_TEXT_DESTROY</key>
	<string>DISMANTLE</string>
	<key>BAG_TEXT_EXTEND</key>
	<string>EXTEND</string>
	<key>BAG_TEXT_EXTEND_DESC</key>
	<string>To cost %d gold coins to extend the backpack?</string>
	<key>ARCHIVE_RESTART_TIPS_DESC</key>
	<string>Restart will clear the game record, whether to restart the game?</string>
	<key>ACHIEVE_ITEM_LOCK</key>
	<string>Unlock</string>
	<key>ITEM_USE_FAIL</key>
	<string>Failure to use!</string>
	<key>ITEM_EQUIP_FAIL</key>
	<string>Failure to equip!</string>
	<key>ITEM_DISCARD_FAIL</key>
	<string>Failure to discard!</string>
	<key>GAME_INFO_FLOOR</key>
	<string>%s %d F</string>
	<key>SKILL_TIP_NOT_EQUIP</key>
	<string>Please equip the off-hand weapon!</string>
	<key>SKILL_TIP_SKILL_COOLING</key>
	<string>Skill is cooling down!</string>
	<key>SKILL_TIP_POTION_COOLING</key>
	<string>Potion is cooling down!</string>
	<key>SKILL_TIP_NOT_BLOOD_POTION</key>
	<string>There is no health potion!</string>
	<key>SKILL_TIP_NOT_MAGIC_POTION</key>
	<string>There is no mana potion!</string>
	<key>LOAGING_TIPS</key>
	<string>Tips:</string>
	<key>PLAYER_BAG_EXTEND_OK</key>
	<string>Congratulations on the success of backpack expansion!</string>
	<key>PLAYER_BAG_EXTEND_HAS_REACH_MAXTIMES</key>
	<string>Sorry, the number of backpack expansion has reached the limit!</string>
	<key>DEAD_BOOS_DEPTH_REVIVE_TXT</key>
	<string>Left times:%d</string>
	<key>TITLE_TIP_TEXT</key>
	<string>TIP</string>
</dict>
</plist>
