<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROP_SHOW_HP</key>
	<string>HP:%d</string>
	<key>ROLE_SHOW_HP</key>
	<string>HP：%d/%d</string>
	<key>ROLE_SHOW_EXP</key>
	<string>EXP：%d/%d</string>
	<key>PROP_SHOW_MP</key>
	<string>MP:%d</string>
	<key>ROLE_SHOW_MP</key>
	<string>MP：%d/%d</string>
	<key>PROP_SHOW_LIGHT_DIS</key>
	<string>Light Dis:%d</string>
	<key>PROP_SHOW_SEARCH_DIS</key>
	<string>Search Dis:%d</string>
	<key>PROP_SHOW_MARGIC_FIND</key>
	<string>Margic:%d</string>
	<key>PROP_SHOW_CRITICAL_STRIKE</key>
	<string>Critical strike:%d</string>
	<key>PROP_SHOW_BLOCK</key>
	<string>bolck:%d</string>
	<key>PROP_SHOW_DODGE</key>
	<string>dodge:%d</string>
	<key>STATUS_TEXT_DODGE</key>
	<string>dogde</string>
	<key>STATUS_TEXT_BOLOCK</key>
	<string>bolock %d</string>
	<key>STATUS_TEXT_CRITICAL_STRIKE</key>
	<string>cirtical strike %d</string>
</dict>
</plist>
