<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_back_fire_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{14,20}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{14,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_back_fire_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{14,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{14,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_back_fire_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{14,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_back_fire_superjump.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,82},{14,18}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{14,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_back_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,62},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_back_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,42},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_back_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,22},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,62},{4,2}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{4,2}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,120},{8,6}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{8,6}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,102},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,82},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,102},{16,18}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{16,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,82},{16,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{16,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_squat.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,102},{16,12}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{16,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_superjump.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,62},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_turn_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,42},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_turn_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,22},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_turn_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_turn_back_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_turn_back_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>red_turn_back_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{18,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_red.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6e9c1817ac83b97d70d513c799c6761:1/1$</string>
            <key>textureFileName</key>
            <string>sprite_red.png</string>
        </dict>
    </dict>
</plist>
