<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>10</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>90</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>15</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>20</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>2</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>40</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>2</integer>
				<key>number</key>
				<integer>20</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>2</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>15</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>10</integer>
				<key>number</key>
				<integer>15</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>30</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>120</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>8</integer>
				<key>number</key>
				<integer>10</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>40</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>2</integer>
				<key>lastTime</key>
				<integer>90</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>50</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>20</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>10</integer>
				<key>number</key>
				<integer>10</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>45</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>200</integer>
				<key>duration</key>
				<integer>6</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>60</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>2</integer>
				<key>number</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>6</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>70</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>2</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>40</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>70</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>1</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>3</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>80</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>120</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>8</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>60</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>120</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>8</integer>
				<key>number</key>
				<integer>20</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>70</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>2</integer>
				<key>lastTime</key>
				<integer>150</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>50</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>80</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>40</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>8</integer>
				<key>number</key>
				<integer>20</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>80</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>2</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>1</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>8</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>80</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>1</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>60</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>2</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>8</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>7</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>15</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>10</integer>
				<key>number</key>
				<integer>18</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>80</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>2</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>1</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>60</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>2</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>8</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>7</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>15</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>10</integer>
				<key>number</key>
				<integer>18</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>60</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>7</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>2</integer>
				<key>lastTime</key>
				<integer>90</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>70</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>2</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>70</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>100</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>2</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>1</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>60</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>2</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>8</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>7</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>15</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>10</integer>
				<key>number</key>
				<integer>18</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>80</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>8</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>2</integer>
				<key>lastTime</key>
				<integer>90</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>100</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>1</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>60</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>8</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>9</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>8</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>120</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>1</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>60</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>9</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>8</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>80</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>9</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>2</integer>
				<key>lastTime</key>
				<integer>90</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>80</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>120</integer>
				<key>duration</key>
				<integer>3</integer>
				<key>number</key>
				<integer>40</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>10</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>120</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>24</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>90</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>120</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>10</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>32</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>70</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>10</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>8</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>8</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>150</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>10</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>10</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>10</integer>
				<key>number</key>
				<integer>18</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>8</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>15</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>150</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>2</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>10</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>10</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>15</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>8</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>20</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>180</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>2</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>3</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>10</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>10</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>45</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>9</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>15</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>10</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>15</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>7</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>20</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>8</integer>
				<key>updateType</key>
				<integer>1</integer>
				<key>delayTime</key>
				<integer>20</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>36</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stageType</key>
		<integer>0</integer>
		<key>targetScore</key>
		<integer>200</integer>
		<key>enemyList</key>
		<array>
			<dict>
				<key>enemyType</key>
				<integer>1</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<real>1</real>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>2</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<integer>2</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>30</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>3</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<integer>3</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>20</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>4</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<integer>4</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>20</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>5</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<integer>5</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>20</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>6</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<integer>6</integer>
				<key>lastTime</key>
				<integer>180</integer>
				<key>duration</key>
				<integer>4</integer>
				<key>number</key>
				<integer>20</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>9</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<integer>7</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>10</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>10</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<integer>8</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>10</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>7</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<integer>9</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>10</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>enemyType</key>
				<integer>8</integer>
				<key>updateType</key>
				<integer>0</integer>
				<key>delayTime</key>
				<integer>10</integer>
				<key>lastTime</key>
				<integer>160</integer>
				<key>duration</key>
				<integer>5</integer>
				<key>number</key>
				<integer>10</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
