<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_call_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,18},{22,14}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{22,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_call_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{22,14}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{22,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,56},{20,14}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{20,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{22,14}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{22,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{20,14}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{20,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{20,14}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{20,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,16}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{22,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,34},{20,16}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{20,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{20,16}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{20,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,52},{20,14}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{20,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,34},{20,14}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{20,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{20,14}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{20,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog_superjump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,16}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{22,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_dog.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ac7c56e5ff193e2f43199d077bbb4d2:1/1$</string>
            <key>textureFileName</key>
            <string>sprite_dog.png</string>
        </dict>
    </dict>
</plist>
