<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GAME_NAME</key>
	<string>Space Geometry War</string>
	<key>PRESS_BEGIN</key>
	<string>PRESS HERE TO BEGIN!</string>
	<key>STAGE</key>
	<string>Stage </string>
</dict>
</plist>
